<%= form_with(model: assetstatus, local: true) do |form| %>
  <% if assetstatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assetstatus.errors.count, "error") %> prohibited this assetstatus from being saved:</h2>

      <ul>
        <% assetstatus.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



   
  <div class="field" >
    <label class="layui-form-label"   for="assetstatus_部门编码">资产状态编码</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入资产状态编码"    type="text" name="assetstatus[Assetstatuscode]" id="assetstatus_Assetstatuscode"   value=<%= @assetstatus.Assetstatuscode%>  ></div>
  </div> 
 
 <div class="field" >
    <label class="layui-form-label"   for="assetstatus_资产状态名称">资产状态名称</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入资产状态名称"    type="text" name="assetstatus[Name]" id="assetstatus_AssetstatusName"   value=<%= @assetstatus.Name%>  ></div>
  </div> 
  
  <div class="field" >
    <label class="layui-form-label"   for="assetstatus_所属组织">所属组织</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入所属组织"    type="text" name="assetstatus[Orgainize_id]" id="assetstatus_Orgainize_id"   value=<%= @assetstatus.Orgainize_id%>  ></div>
  </div> 

  <div class="field" >
    <label class="layui-form-label"   for="assetstatus_描述">描述</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入描述"    type="text" name="assetstatus[description]" id="assetstatus_description"   value=<%= @assetstatus.description%>  ></div>
  </div> 
 
   

  <div class="actions">
    <%= form.submit :保存 %>
  </div>
<% end %>
