 <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> 
 <%# <%= stylesheet_link_tag  'main'%>  

<%# <link rel="stylesheet" type="text/tff" href="/assets/simkai.ttf" /> %>

 <%# <link rel="stylesheet" type="text/css" href='/assets/simkai.ttf'>> %>
 
<style> 
@media screen and (max-width: 6000px) { 
  body
      { 
         /* background:url("/assets/背景图1-f8f7feaaf8b8e60ea6f629581b9613aeed13c983ff02cd093cd88e5e5e543d93.jpg"); */
         background:url("/assets/登录界面-75aaedb661f67b29b871e5c0938874e3c997338aeae4118bfabfe10d532b0f6b.jpg "); 
         background-size: 100% 100%; 
         background-repeat:no-repeat;   
      }  
      .red-text {  
         font-size: 20px;
         /* font-family: <STKaiti,"楷体",Kaiti !improtant;> */
         font-family:  微软雅黑;
         left: 830px; 
         position: absolute; 
         top: 150px; 
         }
         .row
         {  
         font-family: 微软雅黑;  
         position: absolute;  
         font-size: 12px;
         } 
         .input2
         {
            text-indent:30px;
            border-radius: 30px;
            height: 35px;
            width:230px;
            
         }
         .btn2
         {
            border-radius: 30px;
             width:230px;
             background:#006dfe
         }
         .icon-user{
            position: absolute;left: 0；z-index:5;
            background-image: url(user.png); /*引入图片图片*/
            background:url("/assets/用户-85d222f9ad5e363627ddfac10bfa701389660b22b3c5577e4ba4d26b5b8c338a.png");
            background-repeat: no-repeat; /*设置图片不重复*/
            background-position: 0px 0px; /*图片显示的位置*/
            width: 30px; /*设置图片显示的宽*/
            height: 30px; /*图片显示的高*/
            left: 10px;
            top:5px;
            }
            .icon-password{
            position: absolute;left: 0；z-index:5;
            background-image: url(user.png); /*引入图片图片*/
            background:url("/assets/密码-18ba149bc14b9e002dc31ac6f07fc1ccff7c9a27b3f8795ae2e883cbb74762fe.png");
            background-repeat: no-repeat; /*设置图片不重复*/
            background-position: 0px 0px; /*图片显示的位置*/
            width: 30px; /*设置图片显示的宽*/
            height: 30px; /*图片显示的高*/
            left: 10px;
            top:60px;
            }
            .div-bor{
               position: relative;width: 200px;
               }
}
</style>
<script>
$(document).ready(function(){     
     var  x=$("#notice").text();
          if (x!='')
          {
             alert (x);
          } 
          console.log(screen);
          console.log(screen.availHeight); 
          console.log(screen.height);
          console.log(document.body.clientHeight);
          console.log(document.body.scrollHeight);
          console.log(document.body.offsetHeight); 
          var obj = document.getElementById("row");
           obj.style.cssText = "top:"+screen.availHeight*0.35+"px;left:"+screen.availWidth*0.61+"px";
           var obj = document.getElementById("red-text");
           obj.style.cssText = "top:"+screen.availHeight*0.28+"px;left:"+screen.availWidth*0.615+"px";
          var obj = document.body;
          obj.style.cssText="height:"+(screen.height-209) +"px"
          console.log(obj.style.cssText); 
});
</script>      
 <p hidden="hidden" id="notice"><%= notice%></p>  
<% if   !@userfirst.nil?%>
  <p id="user"><%= @userfirst.name%></p>   
<% end %> 
<p id="red-text" class="red-text "   >中国有色集团资产管理系统</p>
            <div  id="row" class="row">
                 <div  class="col-md-6 col-md-offset-3">
                       <%=  form_for(:session,url: login_path, :remote => true )  do |f| %> 
  
                      <i class="icon-user"></i>
                      <%if session[:account]=="?" %>
                       <input   class="layui-input  input2" placeholder="用户名"   type="text" name="session[account]" id="session_account"  >
                      <%else %>
                       <input   class="layui-input  input2"   placeholder="用户名"  type="text" name="session[account]" id="session_account" value =<%=session[:account]%>>
                      <%end%> 
                      <br> 
                        <i class="icon-password"></i>
                        <input    class="layui-input input2"  placeholder="密码"  type="password" name="session[password]" id="session_password">  
                        <br>  
                        <a rel="nofollow"><button  onclick ="Login()"  type="button"class="layui-btn  btn2">登陆</button></a>
                       <% end %> 
 
                 </div>
            </div>  
             
 
				 
<!--a rel="nofollow" data-method="get" href="/get_user">  <button>第一个用户</button></a--> 


<!--a rel="nofollow" data-method="delete" href="/logout">  <button>退出登陆</button></a-->
 

 <script>
// function greet_user()
// {
//             session_account=document.getElementById("session_account") .value// 找到用户名
//             session_password=document.getElementById("session_password") .value// 找到密码 
//             if( session_account.replace(/\s*/g, '')  ==""||  session_password.replace(/\s*/g, '')  ==""   )
//             {
//                alert("用户名不能为空或者密码不用为空");
//             }
// }

function Login()
{ 
     $.ajax({
      type: "post",
      url: "/sessions_Login_user",
      data: { 
        "Useracount":$("#session_account").val(),
        "Password":$("#session_password").val()
      },
      success: function(res){
        alert(res.message);
        if (res.code == 200) {  
           window.location = "/";
        }
        else
        { 
        }
      }
    }); 
}
</script> 