 <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> 

<%# <link rel="stylesheet" type="text/tff" href="/assets/simkai.ttf" /> %>

 <%# <link rel="stylesheet" type="text/css" href='/assets/simkai.ttf'>> %>
 
<style> 
@media screen and (max-width: 6000px) { 
  body
      { 
         background:url("/assets/背景图-92b8c2610394290845b276525b07832ed62672d02843fd68d1b24f0228a215a9.jpg");
         background-size: 100% 100%; 
         background-repeat:no-repeat; 
         height:495px;
      }  
      .red-text { 
         font-size: 40px;
         /* font-family: <STKaiti,"楷体",Kaiti !improtant;> */
         font-family:  楷体;
         left: 830px; 
         position: absolute; 
         top: 150px; 
         }
         .row
         {  
         font-family: STKaiti;  
         position: absolute;  
         }
         .label
         {
            font-size: 20px;
         }
}
    
</style>
<script>
$(document).ready(function(){     
     var  x=$("#notice").text();
          if (x!='')
          {
             alert (x);
          } 
          var obj = document.getElementById("row");
           obj.style.cssText = "top:"+screen.availHeight*0.3+"px;left:"+screen.availWidth*0.667+"px";
           var obj = document.getElementById("red-text");
           obj.style.cssText = "top:"+screen.availHeight*0.225+"px;left:"+screen.availWidth*0.65+"px";


           document.body.style.height=screen.availHeight*0.752+"px";  
        
});
</script>  
 <p id="notice"><%= notice%></p>  
<% if   !@userfirst.nil?%>
  <p id="user"><%= @userfirst.name%></p>   
<% end %> 
<p id="red-text" class="red-text "   >固定资产管理系统</p>
            <div  id="row" class="row">
                 <div  class="col-md-6 col-md-offset-3">
                       <%=  form_for(:session,url: login_path, :remote => true )  do |f| %> 
                      <label id="userid" class="label" for="session_用户名">用户名</label>
                      <br>
                      <%if session[:account]=="?" %>
                       <input   class="layui-input "   type="text" name="session[account]" id="session_account"  >
                      <%else %>
                       <input   class="layui-input "   type="text" name="session[account]" id="session_account" value =<%=session[:account]%>>
                      <%end%>
                          <br>
                        <label class="label" for="session_密码">密码</label>
                         <br>
                        <input    class="layui-input "   type="password" name="session[password]" id="session_password"> 
                        <br>
                        <%=  f.submit  "登陆", class: "layui-btn" %>  
                       <% end %> 
                 </div>
            </div> 
<!--a rel="nofollow" data-method="get" href="/get_user">  <button>第一个用户</button></a--> 


<!--a rel="nofollow" data-method="delete" href="/logout">  <button>退出登陆</button></a-->
 

 <script>
function greet_user()
{
            session_account=document.getElementById("session_account") .value// 找到用户名
            session_password=document.getElementById("session_password") .value// 找到密码
            
            if( session_account.replace(/\s*/g, '')  ==""||  session_password.replace(/\s*/g, '')  ==""   )
            {
               alert("用户名不能为空或者密码不用为空");
            }
}
</script> 