<p id="notice"><%= notice %></p>

<h1>Asset Gain Entries</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Asset type</th>
      <th>Unit</th>
      <th>Bookqty</th>
      <th>Countqty</th>
      <th>Gainqty</th>
      <th>Book seat</th>
      <th>Book dept</th>
      <th>Book user</th>
      <th>Actual seat</th>
      <th>Actual dept</th>
      <th>Actual user</th>
      <th>Fseq</th>
      <th>Asset gain</th>
      <th>Fsrcfbillno</th>
      <th>Fsrcfseq</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asset_gain_entries.each do |asset_gain_entry| %>
      <tr>
        <td><%= asset_gain_entry.Code %></td>
        <td><%= asset_gain_entry.name %></td>
        <td><%= asset_gain_entry.Asset_type %></td>
        <td><%= asset_gain_entry.Unit %></td>
        <td><%= asset_gain_entry.BookQty %></td>
        <td><%= asset_gain_entry.CountQty %></td>
        <td><%= asset_gain_entry.GainQty %></td>
        <td><%= asset_gain_entry.Book_seat %></td>
        <td><%= asset_gain_entry.Book_dept %></td>
        <td><%= asset_gain_entry.Book_User %></td>
        <td><%= asset_gain_entry.Actual_seat %></td>
        <td><%= asset_gain_entry.Actual_dept %></td>
        <td><%= asset_gain_entry.Actual_User %></td>
        <td><%= asset_gain_entry.fseq %></td>
        <td><%= asset_gain_entry.Asset_Gain_id %></td>
        <td><%= asset_gain_entry.FSrcFbillno %></td>
        <td><%= asset_gain_entry.FSrcFseq %></td>
        <td><%= link_to 'Show', asset_gain_entry %></td>
        <td><%= link_to 'Edit', edit_asset_gain_entry_path(asset_gain_entry) %></td>
        <td><%= link_to 'Destroy', asset_gain_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset Gain Entry', new_asset_gain_entry_path %>
