<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @asset_gain_entry.Code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @asset_gain_entry.name %>
</p>

<p>
  <strong>Asset type:</strong>
  <%= @asset_gain_entry.Asset_type %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @asset_gain_entry.Unit %>
</p>

<p>
  <strong>Bookqty:</strong>
  <%= @asset_gain_entry.BookQty %>
</p>

<p>
  <strong>Countqty:</strong>
  <%= @asset_gain_entry.CountQty %>
</p>

<p>
  <strong>Gainqty:</strong>
  <%= @asset_gain_entry.GainQty %>
</p>

<p>
  <strong>Book seat:</strong>
  <%= @asset_gain_entry.Book_seat %>
</p>

<p>
  <strong>Book dept:</strong>
  <%= @asset_gain_entry.Book_dept %>
</p>

<p>
  <strong>Book user:</strong>
  <%= @asset_gain_entry.Book_User %>
</p>

<p>
  <strong>Actual seat:</strong>
  <%= @asset_gain_entry.Actual_seat %>
</p>

<p>
  <strong>Actual dept:</strong>
  <%= @asset_gain_entry.Actual_dept %>
</p>

<p>
  <strong>Actual user:</strong>
  <%= @asset_gain_entry.Actual_User %>
</p>

<p>
  <strong>Fseq:</strong>
  <%= @asset_gain_entry.fseq %>
</p>

<p>
  <strong>Asset gain:</strong>
  <%= @asset_gain_entry.Asset_Gain_id %>
</p>

<p>
  <strong>Fsrcfbillno:</strong>
  <%= @asset_gain_entry.FSrcFbillno %>
</p>

<p>
  <strong>Fsrcfseq:</strong>
  <%= @asset_gain_entry.FSrcFseq %>
</p>

<%= link_to 'Edit', edit_asset_gain_entry_path(@asset_gain_entry) %> |
<%= link_to 'Back', asset_gain_entries_path %>
