 
<!-- Modal -->
<div class="modal fade" id="assetcardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>资产卡片表</h4> 
        <h4 hidden="hidden" id="assetcardid" class="modal-title"  ></h4>  
           <h4  hidden="hidden" id="fbillnotype" class="modal-title"  > <%= fbillnotype%> </h4> 
      </div>
      <div class="modal-body"> 

        <table class="table table-bordered">
          <thead>
          <tr>
          <th style="text-align:center;width: 1%;"><input class='awsui-checkbox '  id='checkbox_SelectAll'  value='' type='checkbox'   onclick="selectAll(this,'assetcard.ids[]')"></th>
            <th>编号</th>
            <th>资产卡片名称</th> 
            <th>单位</th> 
            <th>数量</th> 
            <th>使用部门</th> 
            <th>使用人</th> 
            <th>资产位置</th> 
          </tr>
          </thead>
          <tbody>
            <% @assetcard.each do |assetcard| %>
            <tr class="select select_assetcard" data-assetcard_id="<%= assetcard.id %>" >
            <td  class='test' ><input class='awsui-checkbox_modal' id='assetcard.ids[]' name='assetcard.ids[]' value=<%= assetcard.id %> type='checkbox'/></td>  
              <td><%= assetcard.assetCode %></td>
              <td><%= assetcard.assetname %></td> 
              <td><%= assetcard.Unit_id %></td>
              <td><%= assetcard.Amount %></td> 
              <td><%= assetcard.department_id %></td>
              <td><%= assetcard.Employeeld %></td> 
              <td><%= assetcard.Employeeld %></td> 
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button id="chooseassetcard" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div> 
    </div> 
  </div> 
</div> 




 	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>
$('tr.select_assetcard').click(function(e){ 
    $("tr.select_assetcard").css("backgroundColor","white");
    this.style.backgroundColor = "#357ebd" 
    $("#assetcardid").text(this.dataset.assetcard_id); 
}) 

$('tr.select_assetcard').dblclick(function(e){   
var rows=document.getElementById('testid').rows;   
var  isaddrow="true";
row=rows.length;
for(var i=1;i<rows.length;i++) 
{
  var BH=rows[i].cells[2].innerText; 
  if(BH.trim()=="")
  { 
    isaddrow="false";
    row = i;
    break;
  }
}

console.log($("#fbillnotype"))

$.ajax({
   type:"post", 
   url :"/assetcards_choose",
   data:{ 
     "type" :$("#fbillnotype").text(),
      "assetcardid": $("#assetcardid").text(),
      "id" :$("#AssetcardModalid").text(),
      "row":row,
      "idlist":["2","3","4","5","10","11","12"],
      "isaddrow":isaddrow
     }, 
   success: function(){ 
     },
			error :function(){ 
        } 
 });  
}) 

</script>

<script> 
$('#chooseassetcard').click(function(e){       
var rows=document.getElementById('testid').rows;   
var  isaddrow="true";
row=rows.length; 
for(var i=1;i<rows.length;i++) 
{
  var BH=rows[i].cells[2].innerText; 
  if(BH.trim()=="")
  { 
    isaddrow="false";
    row = i;
    break;
  }
}  
items = getCheckedCheckbox("awsui-checkbox_modal");   
for(var j=0;j<items.length;j++) 
{       
  console.log(rows.length);
   console.log(row);
  if(j>0&&rows.length+j-1<=row)
  {
    console.log(isaddrow);
      isaddrow="true";
  } 
  $.ajax({
    type:"post", 
    url :"/assetcards_choose",
    data:{ 
      "type" :$("#fbillnotype").text(),
        "assetcardid": items[j],
        "id" :$("#AssetcardModalid").text(),
        "row":row,
        "idlist":["2","3","4","5","10","11","12"],
        "isaddrow":isaddrow
      }  
  });   
  row++;  
}
})  

      $('td').click(function(e){    
        if(e.currentTarget.className =="")
        {  
              if(e.currentTarget.parentNode.firstElementChild.children[0].checked)
              {
                e.currentTarget.parentNode.firstElementChild.children[0].checked=false;
              }
              else
              {
                e.currentTarget.parentNode.firstElementChild.children[0].checked=true;
              }
        }   
      }) 


        function getCheckedCheckbox(checkboxClassName) {
				var array = new Array();
				var j = 0;
				var selectedItems = document.getElementsByClassName(checkboxClassName);
    
				for (var i = 0; i < selectedItems.length; i++) { 
					if (selectedItems[i].checked == true) {
						array[j] = selectedItems[i].value;
						j++;
					}
				} 
				return array;
			}
</script>
