<script src="https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js"></script>
<script src="https://www.layuicdn.com/layui/layui.js"></script>
<%=javascript_pack_tag 'tabadd' %>
<%= form_with(model: assettype, local: true) do |form| %>
  <% if assettype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assettype.errors.count, "error") %> prohibited this assettype from being saved:</h2>

      <ul>
        <% assettype.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

     
  <div class="field" >
    <label class="layui-form-label"   for="assettype_资产类型编码">资产类型编码</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入资产类型编码"    type="text" name="assettype[Assettypecode]" id="assettype_Assettypecode"   value=<%= @assettype.Assettypecode%>  ></div>
  </div> 

   <div class="field" >
    <label class="layui-form-label"   for="assettype_资产类型名称">资产类型名称</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入资产类型名称"    type="text" name="assettype[Name]" id="assettype_Name"   value=<%= @assettype.Name%>  ></div>
  </div> 
  
    <div class="field" >
    <label class="layui-form-label"   for="assettype_所属组织">所属组织</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入所属组织"    type="text" name="assettype[Orgainize_id]" id="assettype_Orgainize_id"   value=<%= @assettype.Orgainize_id%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="assettype_描述">描述</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入描述"    type="text" name="assettype[description]" id="assettype_description"   value=<%= @assettype.description%>  ></div>
  </div> 
   
  
    <div class="field" >
    <label class="layui-form-label"   for="assettype_数据状态">数据状态</label>
    <div class="layui-input-block"> <input     class="layui-input  locked"     type="text" name="assettype[fbillstatus]" id="assettype_fbillstatus"   value=<%= @assettype.fbillstatus%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="assettype_创建人">创建人</label>
    <div class="layui-input-block"> <input     class="layui-input locked "    type="text" name="assettype[Creator]" id="assettype_Creator"   value=<%= @assettype.Creator%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="assettype_创建日期">创建日期</label>
    <div class="layui-input-block"> <input     class="layui-input  locked"     type="text" name="assettype[CreateDate]" id="assettype_CreateDate"   value=<%= @assettype.CreateDate%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="assettype_审核人">审核人</label>
    <div class="layui-input-block"> <input     class="layui-input locked "    type="text" name="assettype[Approver]" id="assettype_Approver"   value=<%= @assettype.Approver%>  ></div>
  </div> 

      <div class="field" >
    <label class="layui-form-label"   for="assettype_审核日期">审核日期</label>
    <div class="layui-input-block"> <input     class="layui-input locked"    type="text" name="assettype[ApproverDate]" id="assettype_ApproverDate"   value=<%= @assettype.ApproverDate%>  ></div>
  </div> 
  

   <div class="layui-btn-group " style="margin:10px;0px;">
      <a> <input class="layui-btn  " type="submit" name="commit" value="保存" data-disable-with="保存"></a>
      <a rel="nofollow"><button onclick="Update_Status(<%= @assettype.id%>,'审核')" type="button"
          class="layui-btn  ">审核</button></a>
      <a rel="nofollow"><button onclick="Update_Status(<%= @assettype.id%>,'反审核')" type="button"
          class="layui-btn  ">反审核</button></a>
       

      <a data-url="/assettypes" data-id="assettypes" data-title="资产类型-列表" class="linkActive"><button type="button"
          class="layui-btn">列表</button></a>

    </div>
<% end %>


<script type="text/javascript">
   $(document).ready(function () { 
     $(".locked").prop('disabled', 'disabled');
    $(".locked").css('background-color', '#F5F5F5');
   })



 
      function Update_Status(id, fbillstatus) {
        var id_list = new Array();
        id_list[0] = id;
        $.ajax({
          type: "post",
          url: "/assettypes_Update_fbillstatus",
          data: {
            "id": id_list,
            "fbillstatus": fbillstatus
          },
          success: function (res) {
              alert(res.message);
            if (res.code == 200) { 
              location.reload();
            }
          }
        });
      } 

</script>

    <script>
      $(document).ready(function () {
        if ($("#assettype_fbillstatus").val() == '已审核') {
          $("input").prop('disabled', 'disabled');
          $("select").prop('disabled', 'disabled');
          $("input").css('background-color', '#F5F5F5');
          $("select").css('background-color', '#F5F5F5'); 
        }
      });
    </script>