<%= form_with(model: assettype, local: true) do |form| %>
  <% if assettype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assettype.errors.count, "error") %> prohibited this assettype from being saved:</h2>

      <ul>
        <% assettype.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

     
  <div class="field" >
    <label class="layui-form-label"   for="assettype_资产类型编码">资产类型编码</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入资产类型编码"    type="text" name="assettype[Assettypecode]" id="assettype_Assettypecode"   value=<%= @assettype.Assettypecode%>  ></div>
  </div> 

   <div class="field" >
    <label class="layui-form-label"   for="assettype_资产类型名称">资产类型名称</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入资产类型名称"    type="text" name="assettype[Name]" id="assettype_Name"   value=<%= @assettype.Name%>  ></div>
  </div> 
  
    <div class="field" >
    <label class="layui-form-label"   for="assettype_所属组织">所属组织</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入所属组织"    type="text" name="assettype[Orgainize_id]" id="assettype_Orgainize_id"   value=<%= @assettype.Orgainize_id%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="assettype_描述">描述</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入描述"    type="text" name="assettype[description]" id="assettype_description"   value=<%= @assettype.description%>  ></div>
  </div> 
   

  <div class="actions">
    <%= form.submit  :保存 %>
  </div>
<% end %>
