<%= form_with(model: asset_scrapping, local: true) do |form| %>
  <% if asset_scrapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset_scrapping.errors.count, "error") %> prohibited this asset_scrapping from being saved:</h2>

      <ul>
        <% asset_scrapping.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<p  id="id"><%= @asset_scrapping.id%></p>
     <a id="a_test"   rel="nofollow"  ><button   onclick="test1()"   type="button" class="layui-btn">保存</button></a>
    <div style="display:flex;">

     <div class="field" >
    <label class="layui-form-label"    style="  font-family: '黑体'"  for="asset_scrapping_单据编号">单据编号</label>
    <div  class="layui-input-block"> <input     class="layui-input "    placeholder="请输入单据编号"    type="text" name="asset_scrapping[Document_number]" id="asset_scrapping_Document_number"
       value=<%= @asset_scrapping.Document_number%>  ></div>
  </div> 


     <div class="field" >
    <label class="layui-form-label"    style="  font-family: '黑体'"  for="asset_scrapping_业务日期">业务日期</label>
    <div  class="layui-input-block"> <input     class="layui-input "    placeholder="请输入业务日期"    type="text" name="asset_scrapping[Date]" id="asset_scrapping_Date"
       value=<%= @asset_scrapping.Date%>  ></div>
  </div> 



     <div class="field" >
    <label class="layui-form-label"    style="  font-family: '黑体'"  for="asset_scrapping_处置方式">处置方式</label>
    <div  class="layui-input-block"> <input     class="layui-input "    placeholder="请输入处置方式"    type="text" name="asset_scrapping[Addtype]" id="asset_scrapping_Addtype"
       value=<%= @asset_scrapping.Addtype%>  ></div>
  </div> 

    </div>

   <div style="display:flex;">

     <div class="field" >
    <label class="layui-form-label"    style="  font-family: '黑体'"  for="asset_scrapping_处置原因">处置原因</label>
    <div  class="layui-input-block"> <input     class="layui-input "    placeholder="请输入处置原因"    type="text" name="asset_scrapping[Addtype_Reason]" id="asset_scrapping_Addtype_Reason"
       value=<%= @asset_scrapping.Addtype_Reason%>  ></div>
  </div> 

   </div>
 

  
<% end %>




<button onclick="addrow()">新增行</button>
<button onclick="delrow()">删除行</button>
<form id="Entry" ,action="/save_multiple">
<table    id="testid"  class="layui-table" style="text-align:center;margin:10px;0px; " >
  <colgroup>
    <col width="150"> 
    <col>
  </colgroup>
  <thead > 
    <tr >  
      <th style="text-align:center;width: 5%;"><input class='awsui-checkbox '  id='checkbox_SelectAll'  value='' type='checkbox'   onclick="selectAll(this)"></th>
      <th style="text-align:center">资产编码</th>
      <th style="text-align:center">资产名称</th> 
      <th style="text-align:center">计量单位</th>
      <th style="text-align:center">数量</th> 
      <th style="text-align:center">借用原因</th>
      <th style="text-align:center">预计归还时间</th>  
    </tr>  
  </thead>
   <tbody>
      <% if @asset_scrapping_entry.nil?%>
       <tr class="trr"  onclick =>
                <td><input class='awsui-checkbox' id='entry.ids[]' name='entry.ids[]' type='checkbox'/></td>
                <td class="tdd1" contenteditable="true"></td>
                <td class="tdd1" contenteditable="true"></td>
                <td class="tdd1" contenteditable="true"></td> 
                <td class="tdd1" contenteditable="true"></td>
                <td class="tdd1" contenteditable="true" ></td> 
                <td class="tdd1" contenteditable="true" ></td>  
              </tr>
      <%else%>
          <% @asset_scrapping_entry.each do |asset_scrapping_entry| %>
              <tr class="trr"   id=<%=asset_scrapping_entry.id%>>
                <td><input class='awsui-checkbox' id='entry.ids[]' name='entry.ids[]' type='checkbox'/></td>
                <td class="tdd1" contenteditable="true"><%= asset_scrapping_entry.Code %></td>
                <td class="tdd1" contenteditable="true"><%= asset_scrapping_entry.Name %></td>
                <td class="tdd1" contenteditable="true"><%= asset_scrapping_entry.Unit %></td>
                <td class="tdd1" contenteditable="true"><%= asset_scrapping_entry.Amount %></td>
                <td class="tdd1" contenteditable="true"><%= asset_scrapping_entry.Scrapping_Amount %></td>
                <td class="tdd1" contenteditable="true" ><%= asset_scrapping_entry.Asset_seat %></td> 
              </tr>
          <%end%>
      <%end%> 
  </tbody>
</table>  
</form> 


  <script src="https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js"></script> 

<%= javascript_pack_tag 'layui'%>
<%= javascript_pack_tag 'laydate'%>
<%= stylesheet_pack_tag 'laydate'%> 

 <script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
    $('.fdate').each(function(){
    laydate.render({
			elem: this     
	});
  }) 
});   
</script>
 

 <script>
//新增行
function addrow(){
   var c=document.getElementById('testid');//获得表格的信息  
   if( c.length==1)//如果是向一个空表增加一行
   {
     var x=c.insertRow(1);//向空表插入一行 
     var z=c.rows[0].cells;//如果不是空表，首先获得表格有多少列，先获取再插入新行  
     for(var i=0;i<z.length;i++)//依次向新行插入表格列数的单元格
     {
       var y=x.insertCell(i); 
     }
   }
   else
   { 
     var z=c.rows[0].cells;//如果不是空表，首先获得表格有多少列，先获取再插入新行 
     var x=c.insertRow(c.rows.length);
     x.id=0;
     for(var i=0;i<z.length;i++)//依次向新行插入表格列数的单元格
     { 
       
       var y=x.insertCell(i);  
       if(i==0)
       { 
              y.innerHTML="<input class='awsui-checkbox' id='entry.ids[]' name='entry.ids[]'  type='checkbox'/>";
       }
       else
       {
         y.setAttribute("contenteditable","true");
       }
     }
   }
}
 //删除行
function delrow(){
var x=document.getElementById("testid");
if(x.rows.length==2)
{
  alert("数据数据行至少为1行，不允许删除！");
  return false;
}
x.deleteRow(x.rows.length-1);//删除一行
}
//全选
   function selectAll(obj){ 
        //创建数组
        var arr=new Array();
        //获取所有id为“cb1”的复选框
        var items=document.getElementsByName("entry.ids[]");

        //判断复选框是否选中
        if(obj.checked)
        {
        //循环将所有name为"category"的复选框设置为选中状态
              for(var i=0;i<items.length;i++){
              //alert(items[i]);
              items[i].checked=true;
              }
        }
        else
        {
              //循环将所有name为"category"的复选框设置为非选中状态
              for(var i=0;i<items.length;i++)
              {
              //alert(items[i]);
              items[i].checked=false;
              }
        }
    }      
 </script>

<script>
function test1(){  

var  id=document.getElementById("id").innerText; 
var  Document_number=document.getElementById("asset_scrapping_Document_number").value;
var  Date=document.getElementById("asset_scrapping_Date").value;
var  Addtype=document.getElementById("asset_scrapping_Addtype").value;
var  Addtype_Reason=document.getElementById("asset_scrapping_Addtype_Reason").value; 
var array1 = new Array();
var  array_id = new Array(); 
var tb = document.getElementById('testid');    // table 的 id
var rows = tb.rows;                           // 获取表格所有行
var t=0;
for(var i = 1; i<rows.length; i++ ){
  array_id[i-1]=rows[i].id;
  var array2 = new Array();
   for(var j = 1; j<rows[i].cells.length; j++ ){    // 遍历该行的 td     
       array2[j-1]=rows[i].cells[j].innerHTML.replace('<br>', ''); 
   }
   array2[rows[i].cells.length-1]=rows[i].id;
   array1[i-1]=array2;
} 


 $.ajax({
   type:"post", 
   url:"/asset_scrappings_save_all", 
   data:{ 
     "array_id" :array_id,
      "datas": array1,
      "id":id,
      "Document_number":Document_number,
      "Date":Date,
      "Addtype":Addtype,
      "Addtype_Reason":Addtype_Reason, 
     }, 
   success: function(){
      alert("保存成功！");
     location.reload();
     },
			error :function(){
        alert("保存失败！")
        } 
 });
} 
 </script>
