<p id="notice"><%= notice %></p>

<h1 style="text-align:center;">资产报废单</h1>
 

<div class="layui-btn-group " style="margin:10px;0px;">
  <a rel="nofollow" data-method="get" href="/asset_scrappings/new"><button type="button" class="layui-btn">新增</button></a>
   <a id="a_update"  rel="nofollow"    ><button type="button" class="layui-btn" onclick="getCheckedCheckbox_update()">修改</button></a>
   <!--a id="a_delete"   data-confirm="你确定要删除吗？" rel="nofollow" data-method="delete" ><button  onclick="getCheckedCheckbox_delete()" type="button" class="layui-btn">删除</button></a-->
   <a id="a_delete"   rel="nofollow"  ><button   onclick="model_delete()"   type="button" class="layui-btn">删除</button></a>
   <a rel="nofollow"  ><button type="button"   onclick="Refresh()"  class="layui-btn">刷新</button></a> 
   	<input type="file" id="file" style="display:none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
   <a rel="nofollow"  ><button type="button"   onclick="selectFile()"  class="layui-btn">导入</button></a> 
   <a rel="nofollow"  ><button type="button"   onclick="exportSpecialExcel()"  class="layui-btn">导出</button></a>
</div> 
 




<div class="layui-progress layui-progress-big" lay-filter="demo" lay-showPercent="true">
  <div     class="layui-progress-bar" lay-percent="0%"></div>
</div> 
<table id="tab" class="layui-table" style="text-align:center;margin:10px;0px; "  lay-filter="demo">
  <colgroup>
    <col width="150"> 
    <col>
  </colgroup>
  <thead > 
    <tr >  
      <th style="text-align:center;width: 5%;"><input class='awsui-checkbox '  id='checkbox_SelectAll'  value='' type='checkbox'   onclick="selectAll(this)"></th>
      <th style="text-align:center">单据编号</th>
      <th style="text-align:center">业务日期</th>
      <th style="text-align:center">处置方式</th>
      <th style="text-align:center">处置原因</th> 
    </tr>  
  </thead>
   <tbody> 
    <% @asset_scrappings.each do |asset_scrapping| %>
      <tr   id=<%= asset_scrapping.id %>  ondblclick="show(this)">
        <td><input class='awsui-checkbox' id='asset_scrapping.ids[]' name='asset_scrapping.ids[]' value=<%= asset_scrapping.id %> type='checkbox'/></td> 
        <td class="Document_number" ><%= asset_scrapping.Document_number %></td>
        <td class="Date"><%= asset_scrapping.Date %></td>
        <td class="Addtype"><%= asset_scrapping.Addtype %></td>
        <td  class="Addtype_Reason"><%= asset_scrapping.Addtype_Reason %></td> 
      </tr>
    <% end %> 
    <tr> 
    <td td colspan="6"> <%= paginate @asset_scrappings %>   </td> 
    </tr>
  </tbody> 
</table>   
<br> 


 
 
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/xlsx/0.11.5/xlsx.core.min.js"></script> 

<%=javascript_pack_tag 'layui' %>
<%=javascript_pack_tag 'element' %>  
 
<script>
function setPercent(Rate){
layui.use('element', function(){
  var $ = layui.jquery ,
  element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块 
  element.progress('demo', Rate+'%')
})};
</script>  

 



<script crossorigin="anonymous" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" src="https://lib.baomitu.com/jquery/3.5.1/jquery.js"></script>

<script type="text/javascript"> 
function show (element)
{ 
  var  path=  "/asset_scrappings/"+element.id ;   
  window.location =path ;
}


 
  


</script>
 
	<script type="text/javascript">


			// 获取选中的复选框项，保存为一个数组
			function getCheckedCheckbox(checkboxClassName) {
				var array = new Array();
				var j = 0;
				var selectedItems = document.getElementsByClassName(checkboxClassName);
				for (var i = 1; i < selectedItems.length; i++) {
					if (selectedItems[i].checked == true) {
						array[j] = selectedItems[i].value;
						j++;
					}
				}
				return array;
			}

        function getCheckedCheckbox_update(){	
              // 输出选中
              var items = getCheckedCheckbox("awsui-checkbox"); 
              if(items.length>1)
              {
                    alert("选择了多行数据，请选择1行！");
                    document.getElementById("a_update").href ="";
                    return false;
              } 
              var  asset_scrapping_id=  "/asset_scrappings/"+ items[0]+"/edit";   
              document.getElementById("a_update").href =asset_scrapping_id;
        }
 

   function selectAll(obj){ 
        //创建数组
        var arr=new Array();
        //获取所有id为“cb1”的复选框
        var items=document.getElementsByName("asset_scrapping.ids[]");

        //判断复选框是否选中
        if(obj.checked)
        {
        //循环将所有name为"category"的复选框设置为选中状态
              for(var i=0;i<items.length;i++){
              //alert(items[i]);
              items[i].checked=true;
              }
        }
        else
        {
              //循环将所有name为"category"的复选框设置为非选中状态
              for(var i=0;i<items.length;i++)
              {
              //alert(items[i]);
              items[i].checked=false;
              }
        }
    }      
 
</script> 


<script>  
function model_delete(){
   if (!confirm('你确定要删除吗？'))
   { 
      return false
   } 
var items = new Array();
items = getCheckedCheckbox("awsui-checkbox");      
 $.ajax({
   type:"post", 
   url:"/asset_scrappings_destroy_multiple", 
   data:{ 
      "asset_scrappingid": items
     }, 
   success: function(){
     alert("删除成功！");
     location.reload();
     },
			error :function(){
        alert("删除失败！")
        } 
 });
}
  
function Refresh(){
  location.reload([true])
  }    

</script>  