<p id="notice"><%= notice %></p>

<p>
  <strong>Fbillno:</strong>
  <%= @asset_allocate.FBillno %>
</p>

<p>
  <strong>Expdate:</strong>
  <%= @asset_allocate.Expdate %>
</p>

<p>
  <strong>Allocate reason:</strong>
  <%= @asset_allocate.Allocate_reason %>
</p>

<p>
  <strong>Fbillstatus:</strong>
  <%= @asset_allocate.FBillstatus %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @asset_allocate.Creator %>
</p>

<p>
  <strong>Approver:</strong>
  <%= @asset_allocate.Approver %>
</p>

<p>
  <strong>Createdate:</strong>
  <%= @asset_allocate.CREATEDATE %>
</p>

<p>
  <strong>Approvedate:</strong>
  <%= @asset_allocate.APPROVEDATE %>
</p>

<%= link_to 'Edit', edit_asset_allocate_path(@asset_allocate) %> |
<%= link_to 'Back', asset_allocates_path %>
