<p id="notice"><%= notice %></p>

<p>
  <strong>Document number:</strong>
  <%= @asset_allocate.Document_number %>
</p>

<p>
  <strong>Pull up to:</strong>
  <%= @asset_allocate.Pull_up_to_id %>
</p>

<p>
  <strong>Bring in to:</strong>
  <%= @asset_allocate.Bring_in_to_id %>
</p>

<p>
  <strong>Pull up date:</strong>
  <%= @asset_allocate.Pull_up_date %>
</p>

<p>
  <strong>Allocate reason:</strong>
  <%= @asset_allocate.Allocate_reason %>
</p>

<p>
  <strong>Bring in number:</strong>
  <%= @asset_allocate.Bring_in_Number %>
</p>

<p>
  <strong>Bring in confirm:</strong>
  <%= @asset_allocate.Bring_in_Confirm %>
</p>

<%= link_to 'Edit', edit_asset_allocate_path(@asset_allocate) %> |
<%= link_to 'Back', asset_allocates_path %>
