<script src="https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
<script src="https://www.layuicdn.com/layui/layui.js"></script>
<%=javascript_pack_tag 'tabadd' %>
<style>
  .locked {
    background-color: '#F5F5F5'
  }

  .image_input {
    width: 192px;
    border: 1px solid #e6e6e6;
    border-left: 1;
    border-right: 0;
    border-top: 1;
    border-bottom: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
  }

  .image {
    border: 1px solid #e6e6e6;
    border-left: 0px;
    border-right: 1;
    border-top: 1;
    border-bottom: 1;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    height: 38px;
    width: 38px;
  }

  .label1 {
    width: 100px;
    font-size: 12px;
  }

  .input1 {
    width: 230px;
  }
</style>
<%= form_with(model: asset_turnover_detail, local: true) do |form| %>
<% if asset_turnover_detail.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(asset_turnover_detail.errors.count, "error") %> prohibited this asset_turnover_detail from being
    saved:</h2>
  <ul>
    <% asset_turnover_detail.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<p id="id" hidden='hidden'><%= @asset_turnover_detail.id%></p>
<a id="a_test" rel="nofollow"><button onclick="Save()" type="button" class="layui-btn">保存</button></a>
<a id="a_audit" rel="nofollow"><button onclick="Update_Fbillstatus(<%=@asset_turnover_detail.id%>,'审核')" type="button"
    class="layui-btn">审核</button></a>
<a id="a_unaudit" rel="nofollow"><button onclick="Update_Fbillstatus(<%=@asset_turnover_detail.id%>,'反审核')"
    type="button" class="layui-btn">反审核</button></a>

<a id="a_Back" rel="nofollow" class="linkActive" data-id="newasset_turnover_details" data-title="资产借用/归还单-新增"><button
    onclick="Push(<%=@asset_turnover_detail.id%>,this)" type="button" class="layui-btn">下推</button></a>
<a data-url="/asset_turnover_details" data-id="asset_turnover_details_list" data-title="资产借用/归还单-列表" class="linkActive"
  rel="nofollow"><button type="button" class="layui-btn">列表</button></a>
<br><br>
<div style="display:flex;">
  <div class="field">
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_单据编号">单据编号</label>
    <div class="layui-input-block "> <input class="layui-input input1  " placeholder="请输入单据编号" type="text"
        name="asset_turnover_detail[Document_number]" id="asset_turnover_detail_Document_number"
        value=<%= @asset_turnover_detail.Document_number%>></div>
  </div>
  <div class="field">
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_业务类型">业务类型</label>
    <div class="layui-input-block "> <input class="layui-input input1  locked " type="text"
        name="asset_turnover_detail[Type_of_business]" id="asset_turnover_detail_Type_of_business"
        value=<%= @asset_turnover_detail.Type_of_business%>></div>
  </div>
  <div class="field">


    <% if   @asset_turnover_detail.Type_of_business =="借出" %>
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_借出日期">借出日期</label>
    <%else%>
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_归还日期">归还日期</label>
    <%end%>

    <div class="layui-input-block"> <input class="layui-input input1   fdate" placeholder="请输入借出日期" type="text"
        name="asset_turnover_detail[Borrowing_date]" id="asset_turnover_detail_Borrowing_date"
        value=<%= @asset_turnover_detail.Borrowing_date%>></div>
  </div>
</div>
<div style="display:flex;">
  <div class="field">
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_借用组织">借用组织</label>
    <div class="layui-input-block"> <input class="layui-input  input1 " placeholder="请输入借用组织" type="text"
        name="asset_turnover_detail[Borrowed_To_id]" id="asset_turnover_detail_Borrowed_To_id"
        value=<%= @asset_turnover_detail.Borrowed_To_id%>></div>
  </div>
  <div class="field">


    <% if   @asset_turnover_detail.Type_of_business =="借出" %>
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_借用部门">借用部门</label>
    <%else%>
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_归还部门">归还部门</label>
    <%end%>

    <div class="layui-input-block"> <input class="layui-input  image_input    " placeholder="请输入借用部门" type="text"
        name="asset_turnover_detail[Borrowing_Department]" id="asset_turnover_detail_Borrowing_Department"
        value=<%= @asset_turnover_detail.Borrowing_Department%>></div>
  </div>
  <div class="image" , onclick="Choosedata(departmentModal)" href="#"><%= image_tag('放大镜', size: "38" )   %></div>
  <div class="field">

    <% if   @asset_turnover_detail.Type_of_business =="借出" %>
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_借用人">借用人</label>
    <%else%>
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_归还人">归还人</label>
    <%end%>
    <div class="layui-input-block"> <input class="layui-input  image_input   " placeholder="请输入借用人" type="text"
        name="asset_turnover_detail[Loaner]" id="asset_turnover_detail_Loaner"
        value=<%= @asset_turnover_detail.Loaner%>></div>
  </div>
  <div class="image" , onclick="Choosedata(userModal)" href="#"><%= image_tag('放大镜', size: "38" )   %></div>

</div>
<div style="display:flex;">
  <div class="field">
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_单据状态">单据状态</label>
    <div class="layui-input-block "> <input readonly='true' class="layui-input input1  locked" type="text"
        name="asset_turnover_detail[fbillstatus]" id="asset_turnover_detail_fbillstatus"
        value=<%= @asset_turnover_detail.fbillstatus%>></div>
  </div>
  <div class="field">
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_单据状态">创建人</label>
    <div class="layui-input-block "> <input readonly='true' class="layui-input input1  locked" type="text"
        name="asset_turnover_detail[Creator]" id="asset_turnover_detail_Creator"
        value=<%= @asset_turnover_detail.Creator%>></div>
  </div>
  <div class="field">
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_创建日期">创建日期</label>
    <div class="layui-input-block "> <input readonly='true' class="layui-input input1  locked" type="text"
        name="asset_turnover_detail[Createdate]" id="asset_turnover_detail_Createdate"
        value=<%= @asset_turnover_detail.Createdate%>></div>
  </div>

</div>
<div style="display:flex;">
  <div class="field">
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_审核人">审核人</label>
    <div class="layui-input-block "> <input readonly='true' class="layui-input input1 locked  " type="text"
        name="asset_turnover_detail[Approver]" id="asset_turnover_detail_Approver"
        value=<%= @asset_turnover_detail.Approver%>></div>
  </div>
  <div class="field">
    <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_turnover_detail_单据状态">审核日期</label>
    <div class="layui-input-block "> <input readonly='true' class="layui-input input1  locked" type="text"
        name="asset_turnover_detail[Approverdate]" id="asset_turnover_detail_Approverdate"
        value=<%= @asset_turnover_detail.Approverdate%>></div>
  </div>
</div>
<% end %>
<div class="layui-btn-group">
  <button id="add_row" class="layui-btn" onclick="addrow()">新增行</button>
  <button class="layui-btn" onclick="delrow()">删除行</button>
  <button id="btn_choose_assetcard" class="layui-btn" onclick="Choosedata(assetcardModal)" href="#">选择资产卡片</button>
</div>
<form id="Entry" ,action="/save_multiple">
  <table id="testid" class="layui-table font" style="text-align:center;margin:10px;0px; ">
    <colgroup>
      <col width="150">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th style="text-align:center;font-size:10px;width: 1%;"><input class='awsui-checkbox '  id='checkbox_SelectAll'
            value='' type='checkbox' onclick="selectAll(this,'entry.ids[]')"></th>
        <th style="text-align:center;font-size:10px;font-weight:bold;width: 5%;">序号</th>
        <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">资产编码</th>
        <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">资产名称</th>
        <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">计量单位</th>
        <th style="text-align:center;font-size:10px;font-weight:bold;width: 5%;">数量</th>
        <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">借用原因</th>
        <th style="text-align:center;font-size:10px;font-weight:bold;width: 7%;">原使用部门</th>
        <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">原使用人</th>
        <th style="text-align:center;font-size:10px;font-weight:bold;width: 7%;">原资产位置</th>
        <th style="text-align:center;font-size:10px;font-weight:bold;width: 7%;">现存放位置</th>
        <th style="text-align:center;font-size:10px;font-weight:bold;width: 7%;">源单编号</th>
        <th style="text-align:center;font-size:10px;font-weight:bold;width: 7%;">源单行号</th>
      </tr>
    </thead>
    <tbody>
      <% if @assetTurnoverDetailEntry.nil?%>
      <tr class="trr" onclick=>
        <td><input class='awsui-checkbox' id='entry.ids[]' name='entry.ids[]' type='checkbox' /></td>
        <td style="text-align:center;font-size:9px;" class="tdd1" contenteditable="true">1</td>
        <td style="text-align:center;font-size:9px;" class="tdd1" contenteditable="false"></td>
        <td style="text-align:center;font-size:9px;" class="tdd1" contenteditable="false"></td>
        <td style="text-align:center;font-size:9px;" class="tdd1" contenteditable="false"></td>
        <td style="text-align:center;font-size:9px;" class="tdd1" contenteditable="false"></td>
        <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false"></td>
        <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false"></td>
        <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false"></td>
        <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false"></td>
        <td style="text-align:center;color:darkgray;font-size: 8px;" ondblclick="ChooseMotal(this,'资产位置')" class="tdd1"
          contenteditable="false">双击选择资产位置</td>
        <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false"></td>
        <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false"></td>
      </tr>
      <%else%>
      <% @assetTurnoverDetailEntry.each do |assetTurnoverDetailEntry| %>

      <tr class="trr" id=<%=assetTurnoverDetailEntry.id%>>
        <td><input class='awsui-checkbox' id='entry.ids[]' name='entry.ids[]' type='checkbox' /></td>
        <td style="text-align:center;font-size:9px;" class="tdd1" contenteditable="true">
          <%= assetTurnoverDetailEntry.fseq %>
        <td style="text-align:center;font-size:9px;" class="tdd1" contenteditable="false">
          <%= assetTurnoverDetailEntry.assetcards_Code %></td>
        <td style="text-align:center;font-size:9px;" class="tdd1" contenteditable="false">
          <%= assetTurnoverDetailEntry.assetcards_name %></td>
        <td style="text-align:center;font-size:9px;" class="tdd1" contenteditable="false">
          <%= assetTurnoverDetailEntry.Unit %></td>
        <td style="text-align:center;font-size:9px;" class="tdd1" contenteditable="false">
          <%= assetTurnoverDetailEntry.Amount %></td>
        <td style="text-align:center;font-size:9px;" class="tdd1" contenteditable="true">
          <%= assetTurnoverDetailEntry.Reasons_for_borrowing %></td>
        <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false">
          <%= assetTurnoverDetailEntry.Deptment %> </td>
        <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false">
          <%= assetTurnoverDetailEntry.Employeeld %> </td>
        <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false">
          <%= assetTurnoverDetailEntry.Asset_seat %> </td>


        <%if  assetTurnoverDetailEntry.Last_seat ==""%>
        <td style="text-align:center;color:darkgray;font-size: 8px;" ondblclick="ChooseMotal(this,'资产位置')" class="tdd1"
          contenteditable="false">双击选择资产位置</td>
        <%else%>
        <td style="text-align:center;font-size: 10px;" ondblclick="ChooseMotal(this,'资产位置')" class="tdd1"
          contenteditable="false"><%= assetTurnoverDetailEntry.Last_seat %> </td>
        <%end%>


        <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false">
          <%= assetTurnoverDetailEntry.FSrcFbillno %> </td>
        <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false">
          <%= assetTurnoverDetailEntry.FSrcFseq %> </td>

      </tr>
      <%end%>
      <%end%>
    </tbody>
  </table>
</form>
<p id=IsRresh_2 , hidden="hidden"> <%=   session[:IsRresh_2]%> </p>





<script type="text/javascript">
  function Update_Fbillstatus(id, fbillstatus) {
    if (fbillstatus == "审核") {
      var result = Save_with_updatestatus();
      if (result.code != 200) {
        alert(result.message);
        return;
      }
    }

    $.ajax({
      type: "post",
      async: false,
      url: "/asset_turnover_details_Update_Fbillstatus",
      data: {
        "id": id,
        "fbillstatus": fbillstatus
      },
      success: function (res) {
        alert(res.message);
        if (res.code == 200) {
          var path = "/asset_turnover_details/" + id + "/edit";
          window.location = path;
        }
      }
    });
  }







  function ChooseMotal(element, type) {
    var list = document.getElementsByClassName("tdd1 update");
    if (list.length > 0) {
      list[0].classList.remove("update")
    }
    $(element)[0].style.color = "#666";
    $(element).css("font-size", "9px")
    $(element).addClass("update");
    var modalid;
    switch (type) {
      case "资产位置":
        modalid = assetseateModal_row;
        break;
      case "部门":
        modalid = departmentModal_row;
        break;
      case "用户":
        modalid = userModal_row;
        break;
      default:
        break;
    }
    Choosedata(modalid);
  }

  function Choosedata(modalid) {
    if ($("#asset_turnover_detail_fbillstatus").val() == "已审核") {
      alert("该单据已经审核，不允许操作！")
      return;
    }
    $('#' + modalid.id).modal('show');
  }



  function delrow() {
    if ($("#asset_turnover_detail_fbillstatus").val() == "已审核") {
      alert("该单据已经审核，不允许删除行！")
      return;
    }
    var items = document.getElementsByName("entry.ids[]");
    var x = document.getElementById("testid");
    var IsCheckCount = 0;
    for (var i = items.length - 1; i >= 0; i--) {
      if (items[i].checked) {
        IsCheckCount++;
        x = document.getElementById("testid");
        var row = x.rows;
        for (j = i + 2; j < row.length; j++) {
          row[j].cells[1].innerHTML = row[j].cells[1].innerHTML * 1 - 1
        }
        x.deleteRow(i + 1); //删除一行 
      }
    }
    if (IsCheckCount == 0) {
      alert("请选择删除的数据！");
    }
  }

  function addrow() {
    if ($("#asset_turnover_detail_fbillstatus").val() == "已审核") {
      alert("该单据已经审核，不允许增加行！")
      return;
    }
    var c = document.getElementById('testid'); //获得表格的信息  
    if (c.length == 1) //如果是向一个空表增加一行
    {
      var x = c.insertRow(1); //向空表插入一行  
      var z = c.rows[0].cells; //如果不是空表，首先获得表格有多少列，先获取再插入新行  
      for (var i = 0; i < z.length; i++) //依次向新行插入表格列数的单元格
      {
        var y = x.insertCell(i);
      }
    } else {
      var z = c.rows[0].cells; //如果不是空表，首先获得表格有多少列，先获取再插入新行 
      var index = c.rows[c.rows.length - 1].cells[1].innerHTML * 1;
      var index = c.rows.length * 1;
      var x = c.insertRow(c.rows.length);
      x.id = 0;
      for (var i = 0; i < z.length; i++) //依次向新行插入表格列数的单元格
      {
        var y = x.insertCell(i);
        if (i == 0) {
          y.innerHTML = "<input class='awsuiadd-checkbox' id='entry.ids[]' name='entry.ids[]'  type='checkbox'/>";
        } else if (i == 1) {
          y.innerHTML = index;
          y.setAttribute("style", "text-align:center;font-size:10px;")
        } else if (i == 10) {
          y.innerHTML = "双击选择资产位置";
          y.setAttribute("style", "text-align:center;font-size:10px;color:darkgray;font-size: 8px;")
          y.setAttribute("ondblclick", " ChooseMotal(this,'资产位置')")
        } else {
          y.setAttribute("contenteditable", "true");
          y.setAttribute("style", "text-align:center;font-size:10px;")
        }
        if (i != 6) {
          y.setAttribute("contenteditable", "false");
        }
        y.setAttribute("class", "tdd1");
      }
    }
  }


  $(document).ready(function () {
    layui.use('laydate', function () {
      var laydate = layui.laydate;
      $('.fdate').each(function () {
        laydate.render({
          elem: this
        });
      });
    })

    console.log($("#asset_turnover_detail_Type_of_business").val())

    if ($("#asset_turnover_detail_Type_of_business").val() == "借出") {



      $("#btn_choose_assetcard").show();
      $("#add_row").show();
      $("#a_unaudit").show();
    } else {
      $("#btn_choose_assetcard").hide();
      $("#add_row").hide();
      $("#a_unaudit").hide();
    }

    if ($("#asset_turnover_detail_fbillstatus").val() == "已审核") {

      $("input").prop('disabled', 'disabled');
      $("input").css('background-color', '#F5F5F5');
      $("td").prop('contenteditable', 'false');
      $("td").css('background-color', '#F5F5F5');
      $("image").prop('disabled', 'disabled');
    }
    $(".locked").prop('disabled', 'disabled');
    $(".locked").css('background-color', '#F5F5F5');

    if ($("#id").text() == "") {
      $("#a_unaudit").hide();
      $("#a_audit").hide();
      $("#a_Back").hide();
    } else {
      $("#a_audit").show();
      $("#a_Back").show();
      $("#asset_turnover_detail_Document_number").attr("disabled", "disabled");
      $("#asset_turnover_detail_Document_number").css('background-color', '#F5F5F5');
    }
  });


  function Save() {
    var id = document.getElementById("id").innerText;
    var Document_number = document.getElementById("asset_turnover_detail_Document_number").value;
    var Borrowing_date = document.getElementById("asset_turnover_detail_Borrowing_date").value;
    var Borrowing_Department = document.getElementById("asset_turnover_detail_Borrowing_Department").value;
    var Borrowed_To_id = document.getElementById("asset_turnover_detail_Borrowed_To_id").value;
    var Loaner = document.getElementById("asset_turnover_detail_Loaner").value;
    var Type_of_business = document.getElementById("asset_turnover_detail_Type_of_business").value;
    var array1 = new Array();
    var array_id = new Array();
    var tb = document.getElementById('testid'); // table 的 id
    var rows = tb.rows; // 获取表格所有行 
    var t = 0;
    for (var i = 1; i < rows.length; i++) {
      console.log(rows[i]);
      array_id[i - 1] = rows[i].id;
      var array2 = new Array();
      for (var j = 2; j < rows[i].cells.length; j++) { // 遍历该行的 td       
        array2[j - 2] = rows[i].cells[j].innerHTML.replace('<br>', '').replace(/(^\s*)|(\s*$)/g, "");
      }

      array2[rows[i].cells.length - 2] = rows[i].id;
      array2[rows[i].cells.length - 1] = rows[i].cells[1].innerHTML.replace('<br>', '').replace(/(^\s*)|(\s*$)/g, "");
      array1[i - 1] = array2;
    }
    $.ajax({
      type: "post",
      async: false,
      url: "/asset_turnover_details_save_all",
      data: {
        "type": "保存",
        "array_id": array_id,
        "datas": array1,
        "id": id,
        "Borrowing_Department": Borrowing_Department,
        "Borrowed_To_id": Borrowed_To_id,
        "Loaner": Loaner,
        "Document_number": Document_number,
        "Borrowing_date": Borrowing_date,
        "Type_of_business": Type_of_business
      },
      success: function (res) {
        alert(res.message);
        console.log(res);
        if (res.code == 200) {
          var path = "/asset_turnover_details/" + res.id + "/edit"
          window.location = path;
        }
      }
    });
  }







  function Save_with_updatestatus() {
    var result = new Array();

    var id = document.getElementById("id").innerText;
    var Document_number = document.getElementById("asset_turnover_detail_Document_number").value;
    var Borrowing_date = document.getElementById("asset_turnover_detail_Borrowing_date").value;
    var Borrowing_Department = document.getElementById("asset_turnover_detail_Borrowing_Department").value;
    var Borrowed_To_id = document.getElementById("asset_turnover_detail_Borrowed_To_id").value;
    var Loaner = document.getElementById("asset_turnover_detail_Loaner").value;
    var Type_of_business = document.getElementById("asset_turnover_detail_Type_of_business").value;
    var array1 = new Array();
    var array_id = new Array();
    var tb = document.getElementById('testid'); // table 的 id
    var rows = tb.rows; // 获取表格所有行 
    var t = 0;
    for (var i = 1; i < rows.length; i++) {
      console.log(rows[i]);
      array_id[i - 1] = rows[i].id;
      var array2 = new Array();
      for (var j = 2; j < rows[i].cells.length; j++) { // 遍历该行的 td       
        array2[j - 2] = rows[i].cells[j].innerHTML.replace('<br>', '').replace(/(^\s*)|(\s*$)/g, "");
      }

      array2[rows[i].cells.length - 2] = rows[i].id;
      array2[rows[i].cells.length - 1] = rows[i].cells[1].innerHTML.replace('<br>', '').replace(/(^\s*)|(\s*$)/g, "");
      array1[i - 1] = array2;
    }
    $.ajax({
      type: "post",
      async: false,
      url: "/asset_turnover_details_save_all",
      data: {
        "type": "保存",
        "array_id": array_id,
        "datas": array1,
        "id": id,
        "Borrowing_Department": Borrowing_Department,
        "Borrowed_To_id": Borrowed_To_id,
        "Loaner": Loaner,
        "Document_number": Document_number,
        "Borrowing_date": Borrowing_date,
        "Type_of_business": Type_of_business
      },
      success: function (res) {
        result = res;
      }
    });









    return result;
  }

  function selectAll(obj, type) {
    //创建数组
    var arr = new Array();
    //获取所有id为“cb1”的复选框
    var items = document.getElementsByName(type);
    //判断复选框是否选中
    if (obj.checked) {
      //循环将所有name为"category"的复选框设置为选中状态
      for (var i = 0; i < items.length; i++) {
        //alert(items[i]);
        items[i].checked = true;
      }
    } else {
      //循环将所有name为"category"的复选框设置为非选中状态
      for (var i = 0; i < items.length; i++) {
        //alert(items[i]);
        items[i].checked = false;
      }
    }
  }

  $('td').click(function (e) {
    if (e.currentTarget.className != "") {
      if (e.currentTarget.parentNode.firstElementChild.children[0].checked) {
        e.currentTarget.parentNode.firstElementChild.children[0].checked = false;
      } else {
        e.currentTarget.parentNode.firstElementChild.children[0].checked = true;
      }
    }
  })




  function SetVariance(element) {
    var result = CheckIsNumber(element)
    if (result == "true") {

      element.parentNode.cells[10].innerHTML = Number(element.parentNode.cells[8].innerHTML) - Number(element.innerHTML
        .replace('<br>', ''))
    } else {
      alert("请输入正确的数字");
    }

    //  element.parentNode.cells[10].innerHTML=Number()
  }

  function CheckIsNumber(element) {
    var result = "true";
    var reg = /^[0-9]+.?[0-9]*$/;
    if (!reg.test(element.innerHTML.replace('<br>', ''))) {
      result = "false"
    }
    arr = element.innerHTML.split(" ");
    if (arr.length != 1) {
      result = "false"
    }

    console.log(element.innerHTML);
    return result;
  }





  function Push(id, element) {

    if ($("#asset_turnover_detail_fbillstatus").val() != "已审核") {
      alert("只有审核状态才允许下推！");
      element.parentElement.dataset.url = ""
      return;
    }

    $.ajax({
      type: "get",
      async: false,
      url: "/asset_turnover_details_Check_IsPush",
      data: {
        "id": id
      },
      success: function (res) {
        if (res.code == 200) {
          // element.parentElement.href = "/asset_turnover_details/new?id=" + id

          element.parentElement.dataset.url = "/asset_turnover_details/new?id=" + id
        } else {
          element.parentElement.dataset.url = ""
          alert(res.message)
        }
      }
    });
  }
</script>


<%= render    'assetcards/AssetcardsModal.html.erb' ,  fbillnotype: "资产借出归还单" %>
<%= render    'departments/DepartmentModal.html.erb',  id: "asset_turnover_detail_Borrowing_Department" ,userid: "asset_turnover_detail_Loaner"%>
<%= render    'users/UserModal.html.erb',  id: "asset_turnover_detail_Loaner"  ,department: "asset_turnover_detail_Borrowing_Department" %>
<%= render    'assetseates/AssetseateModal_row.html.erb',  id: "assetcard_Assetseat_id"  %>