  <script src="https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js"></script> 
<%= form_with(model: asset_turnover_detail, local: true) do |form| %>
  <% if asset_turnover_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset_turnover_detail.errors.count, "error") %> prohibited this asset_turnover_detail from being saved:</h2>

      <ul>
        <% asset_turnover_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p  id="id"><%= @asset_turnover_detail.id%></p>
   <a id="a_test"   rel="nofollow"  ><button   onclick="test1()"   type="button" class="layui-btn">保存</button></a> 
    <div style="display:flex;">


     <div class="field" >
    <label class="layui-form-label"    style="  font-family: '黑体'"  for="asset_turnover_detail_单据编号">单据编号</label>
    <div  class="layui-input-block"> <input     class="layui-input "    placeholder="请输入单据编号"    type="text" name="asset_turnover_detail[Document_number]" id="asset_turnover_detail_Document_number"
       value=<%= @asset_turnover_detail.Document_number%>  ></div>
  </div> 

 
     <div class="field" >
    <label class="layui-form-label"    style="  font-family: '黑体'"  for="asset_turnover_detail_借出日期">借出日期</label>
    <div  class="layui-input-block"> <input     class="layui-input  fdate"    placeholder="请输入借出日期"    type="text" name="asset_turnover_detail[Borrowing_date]" id="asset_turnover_detail_Borrowing_date"
       value=<%= @asset_turnover_detail.Borrowing_date%>  ></div>
  </div>  


     <div class="field" >
    <label class="layui-form-label"    style="  font-family: '黑体'"  for="asset_turnover_detail_借用部门">借用部门</label>
    <div  class="layui-input-block"> <input     class="layui-input "    placeholder="请输入借用部门"    type="text" name="asset_turnover_detail[Borrowing_Department]" id="asset_turnover_detail_Borrowing_Department"
       value=<%= @asset_turnover_detail.Borrowing_Department%>  ></div>
  </div>  

</div>
     
 

    <div style="display:flex;">


     <div class="field" >
    <label class="layui-form-label"    style="  font-family: '黑体'"  for="asset_turnover_detail_借用组织">借用组织</label>
    <div  class="layui-input-block"> <input     class="layui-input "    placeholder="请输入借用组织"    type="text" name="asset_turnover_detail[Borrowed_To_id]" id="asset_turnover_detail_Borrowed_To_id"
       value=<%= @asset_turnover_detail.Borrowed_To_id%>  ></div>
  </div> 

 
     <div class="field" >
    <label class="layui-form-label"    style="  font-family: '黑体'"  for="asset_turnover_detail_借用人">借用人</label>
    <div  class="layui-input-block"> <input     class="layui-input "    placeholder="请输入借用人"    type="text" name="asset_turnover_detail[Loaner]" id="asset_turnover_detail_Loaner"
       value=<%= @asset_turnover_detail.Loaner%>  ></div>
  </div>  
 

</div>
 


<% end %>


 
<button onclick="addrow()">新增行</button>
<button onclick="delrow()">删除行</button>
<form id="Entry" ,action="/save_multiple">
<table    id="testid"  class="layui-table" style="text-align:center;margin:10px;0px; " >
  <colgroup>
    <col width="150"> 
    <col>
  </colgroup>
  <thead > 
    <tr >  
      <th style="text-align:center;width: 5%;"><input class='awsui-checkbox '  id='checkbox_SelectAll'  value='' type='checkbox'   onclick="selectAll(this)"></th>
      <th style="text-align:center">资产编码</th>
      <th style="text-align:center">资产名称</th> 
      <th style="text-align:center">计量单位</th>
      <th style="text-align:center">数量</th> 
      <th style="text-align:center">借用原因</th>
      <th style="text-align:center">预计归还时间</th> 
      <th style="text-align:center">是否已还</th>
      <th style="text-align:center">归还日期</th> 
      <th style="text-align:center">原使用部门</th> 
      <th style="text-align:center">原使用人</th>
      <th style="text-align:center">原资产位置</th> 
      <th style="text-align:center">现存放位置</th> 
    </tr>  
  </thead>
   <tbody>
      <% if @assetTurnoverDetailEntry.nil?%>
       <tr class="trr"  onclick =>
                <td><input class='awsui-checkbox' id='entry.ids[]' name='entry.ids[]' type='checkbox'/></td>
                <td class="tdd1" contenteditable="true"></td>
                <td class="tdd1" contenteditable="true"></td>
                <td class="tdd1" contenteditable="true"></td>
                <td class="tdd1" contenteditable="true"></td>
                <td class="tdd1" contenteditable="true"></td>
                <td class="tdd1" contenteditable="true" ></td>
                <td class="tdd1" contenteditable="true" ></td>
                <td class="tdd1" contenteditable="true" ></td>
                <td class="tdd1" contenteditable="true" ></td>
                <td class="tdd1" contenteditable="true"></td>
                <td class="tdd1" contenteditable="true" ></td>
                <td class="tdd1" contenteditable="true" ></td>  
              </tr>
      <%else%>
          <% @assetTurnoverDetailEntry.each do |assetTurnoverDetailEntry| %>
              <tr class="trr"   id=<%=assetTurnoverDetailEntry.id%>>
                <td><input class='awsui-checkbox' id='entry.ids[]' name='entry.ids[]' type='checkbox'/></td>
                <td class="tdd1" contenteditable="true"><%= assetTurnoverDetailEntry.assetcards_Code %></td>
                <td class="tdd1" contenteditable="true"><%= assetTurnoverDetailEntry.assetcards_name %></td>
                <td class="tdd1" contenteditable="true"><%= assetTurnoverDetailEntry.Unit %></td>
                <td class="tdd1" contenteditable="true"><%= assetTurnoverDetailEntry.Amount %></td>
                <td class="tdd1" contenteditable="true"><%= assetTurnoverDetailEntry.Reasons_for_borrowing %></td>
                <td class="tdd1" contenteditable="true" ><%= assetTurnoverDetailEntry.givebackPlanDate %></td>
                <td class="tdd1" contenteditable="true" ><%= assetTurnoverDetailEntry.Has_Been_returned %></td>
                <td class="tdd1" contenteditable="true" ><%= assetTurnoverDetailEntry.givebackDate %></td>
                <td class="tdd1" contenteditable="true" ><%= assetTurnoverDetailEntry.Deptment %> </td>
                <td class="tdd1" contenteditable="true"><%= assetTurnoverDetailEntry.Employeeld %> </td>
                <td class="tdd1" contenteditable="true" ><%= assetTurnoverDetailEntry.Asset_seat %> </td>
                <td class="tdd1" contenteditable="true" ><%= assetTurnoverDetailEntry.Last_seat %></td>  
              </tr>
          <%end%>
      <%end%> 
  </tbody>
</table>  
</form> 







<%= javascript_pack_tag 'layui'%>
<%= javascript_pack_tag 'laydate'%>
<%= stylesheet_pack_tag 'laydate'%> 

 <script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
    $('.fdate').each(function(){
    laydate.render({
			elem: this     
	});
  }) 
});   
</script>
 

 <script>
//新增行
function addrow(){
   var c=document.getElementById('testid');//获得表格的信息 
   console.log(c);
   if( c.length==1)//如果是向一个空表增加一行
   {
     var x=c.insertRow(1);//向空表插入一行 
     var z=c.rows[0].cells;//如果不是空表，首先获得表格有多少列，先获取再插入新行  
     for(var i=0;i<z.length;i++)//依次向新行插入表格列数的单元格
     {
       var y=x.insertCell(i); 
     }
   }
   else
   { 
     var z=c.rows[0].cells;//如果不是空表，首先获得表格有多少列，先获取再插入新行 
     var x=c.insertRow(c.rows.length);
     x.id=0;
     for(var i=0;i<z.length;i++)//依次向新行插入表格列数的单元格
     { 
       
       var y=x.insertCell(i);  
       if(i==0)
       { 
              y.innerHTML="<input class='awsui-checkbox' id='entry.ids[]' name='entry.ids[]'  type='checkbox'/>";
       }
       else
       {
         y.setAttribute("contenteditable","true");
       }
     }
   }
}
 //删除行
function delrow(){
var x=document.getElementById("testid");
if(x.rows.length==2)
{
  alert("数据数据行至少为1行，不允许删除！");
  return false;
}
x.deleteRow(x.rows.length-1);//删除一行
}
//全选
   function selectAll(obj){ 
        //创建数组
        var arr=new Array();
        //获取所有id为“cb1”的复选框
        var items=document.getElementsByName("entry.ids[]");

        //判断复选框是否选中
        if(obj.checked)
        {
        //循环将所有name为"category"的复选框设置为选中状态
              for(var i=0;i<items.length;i++){
              //alert(items[i]);
              items[i].checked=true;
              }
        }
        else
        {
              //循环将所有name为"category"的复选框设置为非选中状态
              for(var i=0;i<items.length;i++)
              {
              //alert(items[i]);
              items[i].checked=false;
              }
        }
    }      
 </script>

<script>
function test1(){  

var  id=document.getElementById("id").innerText;
console.log(id);
var  Document_number=document.getElementById("asset_turnover_detail_Document_number").value;
var  Borrowing_date=document.getElementById("asset_turnover_detail_Borrowing_date").value;
var  Borrowing_Department=document.getElementById("asset_turnover_detail_Borrowing_Department").value;
var  Borrowed_To_id=document.getElementById("asset_turnover_detail_Borrowed_To_id").value;
var  Loaner=document.getElementById("asset_turnover_detail_Loaner").value; 
var array1 = new Array();
var  array_id = new Array(); 
var tb = document.getElementById('testid');    // table 的 id
var rows = tb.rows;                           // 获取表格所有行
var t=0;
for(var i = 1; i<rows.length; i++ ){
  array_id[i-1]=rows[i].id;
  var array2 = new Array();
   for(var j = 1; j<rows[i].cells.length; j++ ){    // 遍历该行的 td     
       array2[j-1]=rows[i].cells[j].innerHTML.replace('<br>', ''); 
   }
   array2[rows[i].cells.length-1]=rows[i].id;
   array1[i-1]=array2;
}
console.log(array1);  


 $.ajax({
   type:"post", 
   url:"/asset_turnover_details_save_all", 
   data:{ 
     "array_id" :array_id,
      "datas": array1,
      "id":id,
      "Document_number":Document_number,
      "Borrowing_date":Borrowing_date,
      "Borrowing_Department":Borrowing_Department,
      "Borrowed_To_id":Borrowed_To_id,
      "Loaner":Loaner
     }, 
   success: function(){
      alert("保存成功！");
     location.reload();
     },
			error :function(){
        alert("保存失败！")
        } 
 });
} 
 </script>


  