<p id="notice"><%= notice %></p>

<h1>Asset Turnover Details</h1>

<table>
  <thead>
    <tr>
      <th>Document number</th>
      <th>Borrowing date</th>
      <th>Borrowing department</th>
      <th>Borrowed to</th>
      <th>Loaner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asset_turnover_details.each do |asset_turnover_detail| %>
      <tr>
        <td><%= asset_turnover_detail.Document_number %></td>
        <td><%= asset_turnover_detail.Borrowing_date %></td>
        <td><%= asset_turnover_detail.Borrowing_Department %></td>
        <td><%= asset_turnover_detail.Borrowed_To_id %></td>
        <td><%= asset_turnover_detail.Loaner %></td>
        <td><%= link_to 'Show', asset_turnover_detail %></td>
        <td><%= link_to 'Edit', edit_asset_turnover_detail_path(asset_turnover_detail) %></td>
        <td><%= link_to 'Destroy', asset_turnover_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset Turnover Detail', new_asset_turnover_detail_path %>
