<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @asset_countingreport_entry.Code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @asset_countingreport_entry.name %>
</p>

<p>
  <strong>Asset type:</strong>
  <%= @asset_countingreport_entry.Asset_type %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @asset_countingreport_entry.Unit %>
</p>

<p>
  <strong>Model:</strong>
  <%= @asset_countingreport_entry.Model %>
</p>

<p>
  <strong>Asset status:</strong>
  <%= @asset_countingreport_entry.Asset_status %>
</p>

<p>
  <strong>Bookqty:</strong>
  <%= @asset_countingreport_entry.BookQty %>
</p>

<p>
  <strong>Countqty:</strong>
  <%= @asset_countingreport_entry.CountQty %>
</p>

<p>
  <strong>Variance:</strong>
  <%= @asset_countingreport_entry.Variance %>
</p>

<p>
  <strong>Book seat:</strong>
  <%= @asset_countingreport_entry.Book_seat %>
</p>

<p>
  <strong>Book dept:</strong>
  <%= @asset_countingreport_entry.Book_dept %>
</p>

<p>
  <strong>Book user:</strong>
  <%= @asset_countingreport_entry.Book_User %>
</p>

<p>
  <strong>Invent seat:</strong>
  <%= @asset_countingreport_entry.Invent_seat %>
</p>

<p>
  <strong>Invent dept:</strong>
  <%= @asset_countingreport_entry.Invent_dept %>
</p>

<p>
  <strong>Inventuser:</strong>
  <%= @asset_countingreport_entry.InventUser %>
</p>

<p>
  <strong>Countdate:</strong>
  <%= @asset_countingreport_entry.CountDate %>
</p>

<p>
  <strong>Headnote:</strong>
  <%= @asset_countingreport_entry.Headnote %>
</p>

<p>
  <strong>Fseq:</strong>
  <%= @asset_countingreport_entry.fseq %>
</p>

<p>
  <strong>Asset countingreport:</strong>
  <%= @asset_countingreport_entry.Asset_Countingreport_id %>
</p>

<%= link_to 'Edit', edit_asset_countingreport_entry_path(@asset_countingreport_entry) %> |
<%= link_to 'Back', asset_countingreport_entries_path %>
