<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
        <% department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   
  <div class="field" >
    <label class="layui-form-label"   for="department_部门编码">部门编码</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入部门编码"    type="text" name="department[departmentcode]" id="department_departmentcode"   value=<%= @department.departmentcode%>  ></div>
  </div> 

    
  <div class="field" >
    <label class="layui-form-label"   for="department_部门名称">部门名称</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入部门名称"    type="text" name="department[departmentname]" id="department_departmentname"   value=<%= @department.departmentname%>  ></div>
  </div> 

    
  <div class="field" >
    <label class="layui-form-label"   for="department_部门编码">所属组织</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入所属组织"    type="text" name="department[organize_id]" id="department_organize_id"   value=<%= @department.organize_id%>  ></div>
  </div> 

    
  <div class="field" >
    <label class="layui-form-label"   for="department_描述">描述</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入描述"    type="text" name="department[description]" id="department_description"   value=<%= @department.description%>  ></div>
  </div> 
  
  <div class="actions">
    <%= form.submit  '保存' %>
  </div>
   

<% end %>




