<script src="https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js"></script>
<script src="https://www.layuicdn.com/layui/layui.js"></script>
<%=javascript_pack_tag 'tabadd' %>
<style>
  .locked {
    background-color: '#F5F5F5'
  }
</style>
<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
        <% department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   
  <div class="field" >
    <label class="layui-form-label"   for="department_部门编码">部门编码</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入部门编码"    type="text" name="department[departmentcode]" id="department_departmentcode"   value=<%= @department.departmentcode%>  ></div>
  </div> 

    
  <div class="field" >
    <label class="layui-form-label"   for="department_部门名称">部门名称</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入部门名称"    type="text" name="department[departmentname]" id="department_departmentname"   value=<%= @department.departmentname%>  ></div>
  </div> 

    
  <div class="field" >
    <label class="layui-form-label"   for="department_部门编码">所属组织</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入所属组织"    type="text" name="department[organize_id]" id="department_organize_id"   value=<%= @department.organize_id%>  ></div>
  </div> 

    
  <div class="field" >
    <label class="layui-form-label"   for="department_描述">描述</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入描述"    type="text" name="department[description]" id="department_description"   value=<%= @department.description%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="department_数据状态">数据状态</label>
    <div class="layui-input-block"> <input     class="layui-input  locked"     type="text" name="department[fbillstatus]" id="department_fbillstatus"   value=<%= @department.fbillstatus%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="department_创建人">创建人</label>
    <div class="layui-input-block"> <input     class="layui-input locked "    type="text" name="department[Creator]" id="department_Creator"   value=<%= @department.Creator%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="department_创建日期">创建日期</label>
    <div class="layui-input-block"> <input     class="layui-input  locked"     type="text" name="department[CreateDate]" id="department_CreateDate"   value=<%= @department.CreateDate%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="department_审核人">审核人</label>
    <div class="layui-input-block"> <input     class="layui-input locked "    type="text" name="department[Approver]" id="department_Approver"   value=<%= @department.Approver%>  ></div>
  </div> 

      <div class="field" >
    <label class="layui-form-label"   for="department_审核人">审核人</label>
    <div class="layui-input-block"> <input     class="layui-input locked"    type="text" name="department[ApproverDate]" id="department_ApproverDate"   value=<%= @department.ApproverDate%>  ></div>
  </div> 
  
 
   <div class="layui-btn-group " style="margin:10px;0px;">
      <a> <input class="layui-btn  " type="submit" name="commit" value="保存" data-disable-with="保存"></a>
      <a rel="nofollow"><button onclick="Update_Status(<%= @department.id%>,'审核')" type="button"
          class="layui-btn  ">审核</button></a>
      <a rel="nofollow"><button onclick="Update_Status(<%= @department.id%>,'反审核')" type="button"
          class="layui-btn  ">反审核</button></a>
       

      <a data-url="/departments" data-id="departments" data-title="部门-列表" class="linkActive"><button type="button"
          class="layui-btn">列表</button></a>

    </div>


<% end %>

<script type="text/javascript">
   $(document).ready(function () { 
     $(".locked").prop('disabled', 'disabled');
    $(".locked").css('background-color', '#F5F5F5');
   })



 
      function Update_Status(id, fbillstatus) {
        var id_list = new Array();
        id_list[0] = id;
        $.ajax({
          type: "post",
          url: "/departments_Update_Fbillstatus",
          data: {
            "id": id_list,
            "fbillstatus": fbillstatus
          },
          success: function (res) {
              alert(res.message);
            if (res.code == 200) { 
              location.reload();
            }
          }
        });
      } 

</script>

