<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @asset_loss_entry.Code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @asset_loss_entry.name %>
</p>

<p>
  <strong>Asset type:</strong>
  <%= @asset_loss_entry.Asset_type %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @asset_loss_entry.Unit %>
</p>

<p>
  <strong>Bookqty:</strong>
  <%= @asset_loss_entry.BookQty %>
</p>

<p>
  <strong>Countqty:</strong>
  <%= @asset_loss_entry.CountQty %>
</p>

<p>
  <strong>Lossqty:</strong>
  <%= @asset_loss_entry.LossQty %>
</p>

<p>
  <strong>Book seat:</strong>
  <%= @asset_loss_entry.Book_seat %>
</p>

<p>
  <strong>Book dept:</strong>
  <%= @asset_loss_entry.Book_dept %>
</p>

<p>
  <strong>Book user:</strong>
  <%= @asset_loss_entry.Book_User %>
</p>

<p>
  <strong>Actual seat:</strong>
  <%= @asset_loss_entry.Actual_seat %>
</p>

<p>
  <strong>Actual dept:</strong>
  <%= @asset_loss_entry.Actual_dept %>
</p>

<p>
  <strong>Actual user:</strong>
  <%= @asset_loss_entry.Actual_User %>
</p>

<p>
  <strong>Fseq:</strong>
  <%= @asset_loss_entry.fseq %>
</p>

<p>
  <strong>Asset loss:</strong>
  <%= @asset_loss_entry.Asset_Loss_id %>
</p>

<p>
  <strong>Fsrcfbillno:</strong>
  <%= @asset_loss_entry.FSrcFbillno %>
</p>

<p>
  <strong>Fsrcfseq:</strong>
  <%= @asset_loss_entry.FSrcFseq %>
</p>

<%= link_to 'Edit', edit_asset_loss_entry_path(@asset_loss_entry) %> |
<%= link_to 'Back', asset_loss_entries_path %>
