<%= form_with(model: assetalter, local: true) do |form| %>
  <% if assetalter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assetalter.errors.count, "error") %> prohibited this assetalter from being saved:</h2>

      <ul>
        <% assetalter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Fbillno %>
    <%= form.text_field :Fbillno %>
  </div>

  <div class="field">
    <%= form.label :Code %>
    <%= form.text_field :Code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Alterdate %>
    <%= form.date_select :Alterdate %>
  </div>

  <div class="field">
    <%= form.label :Reason %>
    <%= form.text_field :Reason %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
