<p id="notice"><%= notice %></p>

<p>
  <strong>Fbillno:</strong>
  <%= @assetalter.Fbillno %>
</p>

<p>
  <strong>Assetcode:</strong>
  <%= @assetalter.assetCode %>
</p>

<p>
  <strong>Assetname:</strong>
  <%= @assetalter.assetname %>
</p>

<p>
  <strong>Assettype:</strong>
  <%= @assetalter.Assettype_id %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @assetalter.Unit_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @assetalter.Amount %>
</p>

<p>
  <strong>Assetstatus:</strong>
  <%= @assetalter.Assetstatus_id %>
</p>

<p>
  <strong>Addtype:</strong>
  <%= @assetalter.Addtype_id %>
</p>

<p>
  <strong>Buydate:</strong>
  <%= @assetalter.BuyDate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assetalter.description %>
</p>

<p>
  <strong>Orgainize:</strong>
  <%= @assetalter.Orgainize_id %>
</p>

<p>
  <strong>Entrydate:</strong>
  <%= @assetalter.Entrydate %>
</p>

<p>
  <strong>Price:</strong>
  <%= @assetalter.Price %>
</p>

<p>
  <strong>Lastprice:</strong>
  <%= @assetalter.Lastprice %>
</p>

<p>
  <strong>Expectedperiod:</strong>
  <%= @assetalter.Expectedperiod %>
</p>

<p>
  <strong>Cnosp:</strong>
  <%= @assetalter.CNOSP %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @assetalter.barcode %>
</p>

<p>
  <strong>Mould:</strong>
  <%= @assetalter.Mould %>
</p>

<p>
  <strong>Assetseat:</strong>
  <%= @assetalter.Assetseat_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @assetalter.Client %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @assetalter.Supplier %>
</p>

<p>
  <strong>Department:</strong>
  <%= @assetalter.department_id %>
</p>

<p>
  <strong>Employeeld:</strong>
  <%= @assetalter.Employeeld %>
</p>

<p>
  <strong>Assetcode old:</strong>
  <%= @assetalter.assetCode_Old %>
</p>

<p>
  <strong>Assetname old:</strong>
  <%= @assetalter.assetname_Old %>
</p>

<p>
  <strong>Assettype id old:</strong>
  <%= @assetalter.Assettype_id_Old %>
</p>

<p>
  <strong>Unit id old:</strong>
  <%= @assetalter.Unit_id_Old %>
</p>

<p>
  <strong>Amount old:</strong>
  <%= @assetalter.Amount_Old %>
</p>

<p>
  <strong>Assetstatus id old:</strong>
  <%= @assetalter.Assetstatus_id_Old %>
</p>

<p>
  <strong>Addtype id old:</strong>
  <%= @assetalter.Addtype_id_Old %>
</p>

<p>
  <strong>Buydate old:</strong>
  <%= @assetalter.BuyDate_Old %>
</p>

<p>
  <strong>Description old:</strong>
  <%= @assetalter.description_Old %>
</p>

<p>
  <strong>Orgainize id old:</strong>
  <%= @assetalter.Orgainize_id_Old %>
</p>

<p>
  <strong>Entrydate old:</strong>
  <%= @assetalter.Entrydate_Old %>
</p>

<p>
  <strong>Price old:</strong>
  <%= @assetalter.Price_Old %>
</p>

<p>
  <strong>Lastprice old:</strong>
  <%= @assetalter.Lastprice_Old %>
</p>

<p>
  <strong>Expectedperiod old:</strong>
  <%= @assetalter.Expectedperiod_Old %>
</p>

<p>
  <strong>Cnosp old:</strong>
  <%= @assetalter.CNOSP_Old %>
</p>

<p>
  <strong>Barcode old:</strong>
  <%= @assetalter.barcode_Old %>
</p>

<p>
  <strong>Mould old:</strong>
  <%= @assetalter.Mould_Old %>
</p>

<p>
  <strong>Assetseat id old:</strong>
  <%= @assetalter.Assetseat_id_Old %>
</p>

<p>
  <strong>Client old:</strong>
  <%= @assetalter.Client_Old %>
</p>

<p>
  <strong>Supplier old:</strong>
  <%= @assetalter.Supplier_Old %>
</p>

<p>
  <strong>Department id old:</strong>
  <%= @assetalter.department_id_Old %>
</p>

<p>
  <strong>Employeeld old:</strong>
  <%= @assetalter.Employeeld_Old %>
</p>

<p>
  <strong>Fbillstatus:</strong>
  <%= @assetalter.fbillstatus %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @assetalter.Creator %>
</p>

<p>
  <strong>Createdate:</strong>
  <%= @assetalter.Createdate %>
</p>

<p>
  <strong>Approver:</strong>
  <%= @assetalter.Approver %>
</p>

<p>
  <strong>Approverdate:</strong>
  <%= @assetalter.Approverdate %>
</p>

<%= link_to 'Edit', edit_assetalter_path(@assetalter) %> |
<%= link_to 'Back', assetalters_path %>
