<p id="notice"><%= notice %></p>

<p>
  <strong>Fbillno:</strong>
  <%= @assetalter.Fbillno %>
</p>

<p>
  <strong>Code:</strong>
  <%= @assetalter.Code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @assetalter.name %>
</p>

<p>
  <strong>Alterdate:</strong>
  <%= @assetalter.Alterdate %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @assetalter.Reason %>
</p>

<%= link_to 'Edit', edit_assetalter_path(@assetalter) %> |
<%= link_to 'Back', assetalters_path %>
