<p id="notice"><%= notice %></p>

<p>
  <strong>Assetcards code:</strong>
  <%= @asset_turnover_detail_entry.assetcards_Code %>
</p>

<p>
  <strong>Assetcards name:</strong>
  <%= @asset_turnover_detail_entry.assetcards_name %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @asset_turnover_detail_entry.Unit %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @asset_turnover_detail_entry.Amount %>
</p>

<p>
  <strong>Reasons for borrowing:</strong>
  <%= @asset_turnover_detail_entry.Reasons_for_borrowing %>
</p>

<p>
  <strong>Givebackplandate:</strong>
  <%= @asset_turnover_detail_entry.givebackPlanDate %>
</p>

<p>
  <strong>Has been returned:</strong>
  <%= @asset_turnover_detail_entry.Has_Been_returned %>
</p>

<p>
  <strong>Givebackdate:</strong>
  <%= @asset_turnover_detail_entry.givebackDate %>
</p>

<p>
  <strong>Deptment:</strong>
  <%= @asset_turnover_detail_entry.Deptment %>
</p>

<p>
  <strong>Employeeld:</strong>
  <%= @asset_turnover_detail_entry.Employeeld %>
</p>

<p>
  <strong>Asset seat:</strong>
  <%= @asset_turnover_detail_entry.Asset_seat %>
</p>

<p>
  <strong>Last seat:</strong>
  <%= @asset_turnover_detail_entry.Last_seat %>
</p>

<p>
  <strong>Assetturnoverdetail:</strong>
  <%= @asset_turnover_detail_entry.AssetTurnoverDetail_id %>
</p>

<%= link_to 'Edit', edit_asset_turnover_detail_entry_path(@asset_turnover_detail_entry) %> |
<%= link_to 'Back', asset_turnover_detail_entries_path %>
