<script src="https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js"></script>
<script src="https://www.layuicdn.com/layui/layui.js"></script>
<%=javascript_pack_tag 'tabadd' %>
<%= form_with(model: usestate, local: true) do |form| %>
  <% if usestate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usestate.errors.count, "error") %> prohibited this usestate from being saved:</h2>

      <ul>
        <% usestate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


 
     
  <div class="field" >
    <label  style="width:120px" class="layui-form-label"   for="usestate_资产使用状态编码">资产使用状态编码</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入资产使用状态编码"    type="text" name="usestate[Usestatecode]" id="usestate_Usestatecode"   value=<%= @usestate.Usestatecode%>  ></div>
  </div> 

   <div class="field" >
    <label   style="width:120px"  class="layui-form-label"   for="usestate_使用状态名称">使用状态名称</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入资产使用状态名称"    type="text" name="usestate[Name]" id="usestate_Name"   value=<%= @usestate.Name%>  ></div>
  </div>

  <div class="field" >
    <label   style="width:120px" class="layui-form-label"   for="usestate_所属组织">所属组织</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入所属组织"    type="text" name="usestate[Orgainize_id]" id="usestate_Orgainize_id"   value=<%= @usestate.Orgainize_id%>  ></div>
  </div>

  <div class="field" >
    <label  style="width:120px" class="layui-form-label"   for="usestate_描述">描述</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入描述"    type="text" name="usestate[Description]" id="usestate_Description"   value=<%= @usestate.Description%>  ></div>
  </div>

  
    <div class="field" >
    <label class="layui-form-label"   for="usestate_数据状态">数据状态</label>
    <div class="layui-input-block"> <input     class="layui-input  locked"     type="text" name="usestate[fbillstatus]" id="usestate_fbillstatus"   value=<%= @usestate.fbillstatus%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="usestate_创建人">创建人</label>
    <div class="layui-input-block"> <input     class="layui-input locked "    type="text" name="usestate[Creator]" id="usestate_Creator"   value=<%= @usestate.Creator%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="usestate_创建日期">创建日期</label>
    <div class="layui-input-block"> <input     class="layui-input  locked"     type="text" name="usestate[CreateDate]" id="usestate_CreateDate"   value=<%= @usestate.CreateDate%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="usestate_审核人">审核人</label>
    <div class="layui-input-block"> <input     class="layui-input locked "    type="text" name="usestate[Approver]" id="usestate_Approver"   value=<%= @usestate.Approver%>  ></div>
  </div> 

      <div class="field" >
    <label class="layui-form-label"   for="usestate_审核日期">审核日期</label>
    <div class="layui-input-block"> <input     class="layui-input locked"    type="text" name="usestate[ApproverDate]" id="usestate_ApproverDate"   value=<%= @usestate.ApproverDate%>  ></div>
  </div> 
  

   <div class="layui-btn-group " style="margin:10px;0px;">
      <a> <input class="layui-btn  " type="submit" name="commit" value="保存" data-disable-with="保存"></a>
      <a rel="nofollow"><button onclick="Update_Status(<%= @usestate.id%>,'审核')" type="button"
          class="layui-btn  ">审核</button></a>
      <a rel="nofollow"><button onclick="Update_Status(<%= @usestate.id%>,'反审核')" type="button"
          class="layui-btn  ">反审核</button></a>
       

      <a data-url="/usestates" data-id="usestates" data-title="使用状态-列表" class="linkActive"><button type="button"
          class="layui-btn">列表</button></a>

    </div>
<% end %>


  
<script type="text/javascript">
   $(document).ready(function () { 
     $(".locked").prop('disabled', 'disabled');
    $(".locked").css('background-color', '#F5F5F5');
   })



 
      function Update_Status(id, fbillstatus) {
        var id_list = new Array();
        id_list[0] = id;
        $.ajax({
          type: "post",
          url: "/usestates_Update_fbillstatus",
          data: {
            "id": id_list,
            "fbillstatus": fbillstatus
          },
          success: function (res) {
              alert(res.message);
            if (res.code == 200) { 
              location.reload();
            }
          }
        });
      } 

</script>

    <script>
      $(document).ready(function () {
        if ($("#usestate_fbillstatus").val() == '已审核') {
          $("input").prop('disabled', 'disabled');
          $("select").prop('disabled', 'disabled');
          $("input").css('background-color', '#F5F5F5');
          $("select").css('background-color', '#F5F5F5'); 
        }
      });
    </script>