 
 <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />



<!--%=image_tag("timg.jpg")%-->  
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
 
 
 



 
<!--a rel="nofollow" data-method="delete" href="/logout">  <button>退出登陆</button></a-->

  
 
<div  class="layui-layout layui-layout-admin ">
  <div   class="layui-header">
    <div class="layui-logo">固定资产管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->  

  <ul class="layui-nav layui-layout-right">
  
       <li  class="layui-nav-item">
           <% if   !logon?%>
            <%= link_to '登陆', login_path %> 
            <%else%> 
            <p id="login">当前登陆: <%=@session %></p>
             <li class="layui-nav-item"> <%= link_to "退出登陆",logout_path,method: "delete" %> </a></li>
          <%end%> </li>
    </ul>
  </div>
 

 

  <div id="List" class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">基础资料</a>
          <dl class="layui-nav-child">
 
            <dd><a data-url= <%=users_path%> data-id="users_path" data-title="用户表" class="site-demo-active"  href="javascript:;" data-type="tabAdd">用户表</a></dd>
            <dd><a data-url= <%=departments_path%> data-id="departments_path" data-title="部门表" class="site-demo-active"  href="javascript:;" data-type="tabAdd">部门表</a></dd>
            <dd><a data-url= <%=assettypes_path%> data-id="assettypes_path" data-title="资产类别表" class="site-demo-active"  href="javascript:;" data-type="tabAdd">资产类别表</a></dd>
            <dd><a data-url= <%=assetstatuses_path%> data-id="assetstatuses_path" data-title="资产状态表" class="site-demo-active"  href="javascript:;" data-type="tabAdd">资产状态表</a></dd>
            <dd><a data-url= <%=addtypes_path%> data-id="addtypes_path" data-title="变动方式表" class="site-demo-active"  href="javascript:;" data-type="tabAdd">变动方式表</a></dd>
            <dd><a data-url= <%=assetseates_path%> data-id="assetseates_path" data-title="资产位置表" class="site-demo-active"  href="javascript:;" data-type="tabAdd">资产位置表</a></dd>
            <dd><a data-url= <%=usestates_path%> data-id="usestates_path" data-title="资产使用状态" class="site-demo-active"  href="javascript:;" data-type="tabAdd">资产使用状态</a></dd>
            <dd><a data-url= <%=units_path%> data-id="units_path" data-title="计量单位" class="site-demo-active"  href="javascript:;" data-type="tabAdd">计量单位</a></dd> 
              <dd><a data-url= <%=assetcards_path%> data-id="assetcards_path" data-title="资产卡片" class="site-demo-active"  href="javascript:;" data-type="tabAdd">资产卡片</a></dd>
 
          
          </dl>

        </li>
      <li class="layui-nav-item">
          <a href="javascript:;">单据 </a>
         <dl class="layui-nav-child">
            <dd><a data-url= <%=asset_recoveries_path%> data-id="asset_recoveries_path" data-title="资产领用单" class="site-demo-active"  href="javascript:;" data-type="tabAdd">资产领用单</a></dd>
            <dd><a data-url= <%=asset_turnover_details_path%> data-id="asset_turnover_details_path" data-title="资产借用/归还单" class="site-demo-active"  href="javascript:;" data-type="tabAdd">资产借用/归还单</a></dd>
            <dd><a data-url= <%=asset_allocates_path%> data-id="asset_allocates_path" data-title="资产调拨单" class="site-demo-active"  href="javascript:;" data-type="tabAdd">资产调拨单</a></dd>
            <dd><a data-url= <%=asset_scrappings_path%> data-id="asset_scrappings_path" data-title="资产报废单" class="site-demo-active"  href="javascript:;" data-type="tabAdd">资产报废单</a></dd>
            <dd><a data-url= <%=inventory_plans_path%> data-id="inventory_plans_path" data-title="盘点方案" class="site-demo-active"  href="javascript:;" data-type="tabAdd">盘点方案</a></dd>
          </dl>
        </li> 
      </ul>
    </div>
  </div>
   
  <div id="body" class="layui-body">
      <div style="z-index:10; left:2000px;top:200px;" ><i  onclick="visible(this)" class="layui-icon"  >&#xe603;</i>  </div>
    <!-- 内容主体区域 -->  
  <div class="layui-tab layui-tab-brief" lay-filter="demo"lay-allowclose="true">
            <ul class="layui-tab-title">
            </ul>
            <div class="layui-tab-content"> 
            </div> 
        </div> 
          
    </div>  

  <div id="footer"  class="layui-footer">
    <!-- 底部固定区域 -->
          珠海格致软件版权所有
  </div>
</div>

<p id="IsRresh"><%= session[:IsRresh]%></p>


<script src="/packs/js/layui-bcce263ec7e72cb496f9.js" data-turbolinks-track= "reload"></script>
<script src="/packs/js/element-29eda1820c948640d37c.js"data-turbolinks-track= "reload"></script>

 
<script> 

function visible(element)
{
  if(document.getElementById("List").style.visibility=="" ||document.getElementById("List").style.visibility=="visible"  )
  {
    element.innerHTML="&#xe602;"
    document.getElementById("List").style.visibility="hidden"; 
    document.getElementById("body").style.left=0+"px";
    document.getElementById("footer").style.left=0+"px";
  }
  else
  {
    element.innerHTML="&#xe603;"
    document.getElementById("List").style.visibility="visible"; 
    document.getElementById("body").style.left=200+"px";
    document.getElementById("footer").style.left=200+"px";
  } 
}




$(document).ready(function(){ 
 $("#IsRresh").hide();  
  if($("#IsRresh").text()=='True')
  { 
      location.reload([true]);
  } 

    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
        var $ = layui.jquery;
        //触发事件
 var active = {
            //在这里给active绑定几项事件，后面可通过active调用这些事件
 tabAdd: function(url,id,name) {
                //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
 element.tabAdd('demo', {
                    title: name,
                    content: '<iframe  data-frameid="'+id+'" scrolling="yes" frameborder="0" src="'+url+'" style="width:100%;height:1000px"></iframe>',
                    id: id //规定好的id
 })
                element.render('tab');

            },
            tabChange: function(id) {
                //切换到指定Tab项
 element.tabChange('demo', id); //根据传入的id传入到指定的tab项
 },
            tabDelete: function (id) {
                element.tabDelete("demo", id);//删除
 }
            , tabDeleteAll: function (ids) {//删除所有
 $.each(ids, function (i,item) {
                    element.tabDelete("demo", item); //ids是一个数组，里面存放了多个id，调用tabDelete方法分别删除
 })
            }
        };


        //当点击有site-demo-active属性的标签时，即左侧菜单栏中内容 ，触发点击事件
 $('.site-demo-active').on('click', function() { 
            var dataid = $(this); 
            //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
 if ($(".layui-tab-title li[lay-id]").length <= 0) {
                //如果比零小，则直接打开新的tab项
 active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"),dataid.attr("data-title"));
            } else {
                //否则判断该tab项是否以及存在

 var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
 $.each($(".layui-tab-title li[lay-id]"), function () {
                    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
 if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                        isData = true;
                    }
                })
                if (isData == false) {
                    //标志为false 新增一个tab项
 active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"),dataid.attr("data-title"));
                }
            }
            //最后不管是否新增tab，最后都转到要打开的选项页面上
 active.tabChange(dataid.attr("data-id"));
        });
    });
 });
</script>