<%= form_with(model: asset_allocate_entry, local: true) do |form| %>
  <% if asset_allocate_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset_allocate_entry.errors.count, "error") %> prohibited this asset_allocate_entry from being saved:</h2>

      <ul>
        <% asset_allocate_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Code %>
    <%= form.text_field :Code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Unit %>
    <%= form.text_field :Unit %>
  </div>

  <div class="field">
    <%= form.label :Amount %>
    <%= form.number_field :Amount %>
  </div>

  <div class="field">
    <%= form.label :Transfer %>
    <%= form.text_field :Transfer %>
  </div>

  <div class="field">
    <%= form.label :out %>
    <%= form.text_field :out %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :Asset_seat %>
    <%= form.text_field :Asset_seat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
