<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @asset_allocate_entry.Code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @asset_allocate_entry.name %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @asset_allocate_entry.Unit %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @asset_allocate_entry.Amount %>
</p>

<p>
  <strong>Transfer out quantity:</strong>
  <%= @asset_allocate_entry.Transfer_out_quantity %>
</p>

<p>
  <strong>Asset seat:</strong>
  <%= @asset_allocate_entry.Asset_seat %>
</p>

<p>
  <strong>Asset allocate:</strong>
  <%= @asset_allocate_entry.Asset_allocate_id %>
</p>

<%= link_to 'Edit', edit_asset_allocate_entry_path(@asset_allocate_entry) %> |
<%= link_to 'Back', asset_allocate_entries_path %>
