<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @asset_allocate_entry.Code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @asset_allocate_entry.name %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @asset_allocate_entry.Unit %>
</p>

<p>
  <strong>Model:</strong>
  <%= @asset_allocate_entry.Model %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @asset_allocate_entry.Amount %>
</p>

<p>
  <strong>Expdept:</strong>
  <%= @asset_allocate_entry.EXPdept %>
</p>

<p>
  <strong>Employeeld:</strong>
  <%= @asset_allocate_entry.Employeeld %>
</p>

<p>
  <strong>Asset seat:</strong>
  <%= @asset_allocate_entry.Asset_seat %>
</p>

<p>
  <strong>Expqty:</strong>
  <%= @asset_allocate_entry.EXPQTY %>
</p>

<p>
  <strong>Impdept:</strong>
  <%= @asset_allocate_entry.IMPdept %>
</p>

<p>
  <strong>Newuser:</strong>
  <%= @asset_allocate_entry.Newuser %>
</p>

<p>
  <strong>Imp seat:</strong>
  <%= @asset_allocate_entry.IMP_seat %>
</p>

<p>
  <strong>Fseq:</strong>
  <%= @asset_allocate_entry.fseq %>
</p>

<p>
  <strong>Asset allocate:</strong>
  <%= @asset_allocate_entry.Asset_allocate_id %>
</p>

<%= link_to 'Edit', edit_asset_allocate_entry_path(@asset_allocate_entry) %> |
<%= link_to 'Back', asset_allocate_entries_path %>
