<script src="https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js"></script>
<script src="https://www.layuicdn.com/layui/layui.js"></script>
<%=javascript_pack_tag 'tabadd' %>
<%= form_with(model: unit, local: true) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
        <% unit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



   
  <div class="field" >
    <label class="layui-form-label"   for="unit_单位编码">单位编码</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入单位编码"    type="text" name="unit[Unitcode]" id="unit_Unitcode"   value=<%= @unit.Unitcode%>  ></div>
  </div>

   <div class="field" >
    <label class="layui-form-label"   for="unit_名称">名称</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入名称"    type="text" name="unit[name]" id="unit_name"   value=<%= @unit.name%>  ></div>
  </div>

   <div class="field" >
    <label class="layui-form-label"   for="unit_单位编码">精度</label>
    <div class="layui-input-block"> <input     class="layui-input "  placeholder="请输入精度"    type="text" name="unit[Unitaccuracy]" id="unit_Unitaccuracy"   value=<%= @unit.Unitaccuracy%>  ></div>
  </div>
 
 
   <div class="layui-form-item">
      <label class="layui-form-label" for="unit_舍入类型">舍入类型</label> 
       <div class="layui-input-block">
          <select   class="layui-input "   id="unit_Roundingtype"  <%= form.select :Roundingtype, [['四舍五入'], ['舍位'],['进位']] %>
          </select>
       </div> 
    </div> 

  
    <div class="field" >
    <label class="layui-form-label"   for="unit_数据状态">数据状态</label>
    <div class="layui-input-block"> <input     class="layui-input  locked"     type="text" name="unit[fbillstatus]" id="unit_fbillstatus"   value=<%= @unit.fbillstatus%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="unit_创建人">创建人</label>
    <div class="layui-input-block"> <input     class="layui-input locked "    type="text" name="unit[Creator]" id="unit_Creator"   value=<%= @unit.Creator%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="unit_创建日期">创建日期</label>
    <div class="layui-input-block"> <input     class="layui-input  locked"     type="text" name="unit[CreateDate]" id="unit_CreateDate"   value=<%= @unit.CreateDate%>  ></div>
  </div> 

    <div class="field" >
    <label class="layui-form-label"   for="unit_审核人">审核人</label>
    <div class="layui-input-block"> <input     class="layui-input locked "    type="text" name="unit[Approver]" id="unit_Approver"   value=<%= @unit.Approver%>  ></div>
  </div> 

      <div class="field" >
    <label class="layui-form-label"   for="unit_审核日期">审核日期</label>
    <div class="layui-input-block"> <input     class="layui-input locked"    type="text" name="unit[ApproverDate]" id="unit_ApproverDate"   value=<%= @unit.ApproverDate%>  ></div>
  </div> 
  

   <div class="layui-btn-group " style="margin:10px;0px;">
      <a> <input class="layui-btn  " type="submit" name="commit" value="保存" data-disable-with="保存"></a>
      <a rel="nofollow"><button onclick="Update_Status(<%= @unit.id%>,'审核')" type="button"
          class="layui-btn  ">审核</button></a>
      <a rel="nofollow"><button onclick="Update_Status(<%= @unit.id%>,'反审核')" type="button"
          class="layui-btn  ">反审核</button></a>
       

      <a data-url="/units" data-id="units" data-title="计量单位-列表" class="linkActive"><button type="button"
          class="layui-btn">列表</button></a>

    </div>
<% end %>



<script type="text/javascript">
   $(document).ready(function () { 
     $(".locked").prop('disabled', 'disabled');
    $(".locked").css('background-color', '#F5F5F5');
   })



 
      function Update_Status(id, fbillstatus) {
        var id_list = new Array();
        id_list[0] = id;
        $.ajax({
          type: "post",
          url: "/units_Update_fbillstatus",
          data: {
            "id": id_list,
            "fbillstatus": fbillstatus
          },
          success: function (res) {
              alert(res.message);
            if (res.code == 200) { 
              location.reload();
            }
          }
        });
      } 

</script>


    <script>
      $(document).ready(function () {
        if ($("#unit_fbillstatus").val() == '已审核') {
          $("input").prop('disabled', 'disabled');
          $("select").prop('disabled', 'disabled');
          $("input").css('background-color', '#F5F5F5');
          $("select").css('background-color', '#F5F5F5'); 
        }
      });
    </script>