<p id="notice"><%= notice %></p>

<p>
  <strong>Altertype:</strong>
  <%= @assetalter_entry.Altertype %>
</p>

<p>
  <strong>Information old:</strong>
  <%= @assetalter_entry.Information_Old %>
</p>

<p>
  <strong>Information new:</strong>
  <%= @assetalter_entry.Information_New %>
</p>

<p>
  <strong>Assetalter:</strong>
  <%= @assetalter_entry.Assetalter_id %>
</p>

<%= link_to 'Edit', edit_assetalter_entry_path(@assetalter_entry) %> |
<%= link_to 'Back', assetalter_entries_path %>
