<head>
  <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    /* 控件锁定 */
    .locked {
      background-color: '#F5F5F5'
    }

    /* 带搜索输入框 */
    .image_input {
      width: 192px;
      border: 1px solid #e6e6e6;
      border-left: 1;
      border-right: 0;
      border-top: 1;
      border-bottom: 1;
      border-top-left-radius: 2px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
    }

    /* 搜索按钮 */
    .image {
      border: 1px solid #e6e6e6;
      border-left: 0px;
      border-right: 1;
      border-top: 1;
      border-bottom: 1;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
      height: 38px;
      width: 38px;
    }

    /* 标签 */
    .label1 {
      width: 100px;
      font-size: 12px;
    }

    /* 不带搜索输入框 */
    .input1 {
      width: 230px;
    }
  </style>
</head>

<body>
  <%# 忽略 %>
  <%= form_with(model: asset_countingreport, local: true) do |form| %>
  <% if asset_countingreport.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(asset_countingreport.errors.count, "error") %> prohibited this asset_countingreport from being
      saved:</h2>
    <ul>
      <% asset_countingreport.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <!--菜单集合 -->
  <p id="id" hidden='hidden'><%= @asset_countingreport.id%></p>
  <a id="a_test" rel="nofollow"><button onclick="Save()" type="button" class="layui-btn">保存</button></a>
  <a id="a_audit" rel="nofollow"><button onclick="Update_Fbillstatus(<%=@asset_countingreport.id%>,'审核','报废' )"
      type="button" class="layui-btn">审核</button></a>
  <a id="a_unaudit" rel="nofollow"><button onclick="Update_Fbillstatus(<%=@asset_countingreport.id%>,'反审核' ,'可用')"
      type="button" class="layui-btn">反审核</button></a>
  <a data-url="/asset_countingreports" data-id="asset_countingreports" data-title="盘点作业单-列表" class="linkActive"
    rel="nofollow"><button type="button" class="layui-btn">返回列表</button></a>
  <!--业务字段集合 -->
  <div style="display:flex;">
    <div class="field">
      <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_countingreport_单据编号">单据编号</label>
      <div class="layui-input-block "> <input class="layui-input input1  " placeholder="请输入单据编号" type="text"
          name="asset_countingreport[BillNo]" id="asset_countingreport_BillNo" value=<%= @asset_countingreport.BillNo%>>
      </div>
    </div>
    <div class="field">
      <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_countingreport_单据日期">单据日期</label>
      <div class="layui-input-block "> <input class="layui-input input1  fdate  " placeholder="请输入单据日期" type="text"
          name="asset_countingreport[fdate]" id="asset_countingreport_fdate" value=<%= @asset_countingreport.fdate%>>
      </div>
    </div>
    <div class="field">
      <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_countingreport_描述">描述</label>
      <div class="layui-input-block"> <input class="layui-input input1     " placeholder="请输入描述" type="text"
          name="asset_countingreport[description]" id="asset_countingreport_description"
          value=<%= @asset_countingreport.description%>></div>
    </div>
  </div>
  <div style="display:flex;">
    <div class="field">
      <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_countingreport_单据状态">单据状态</label>
      <div class="layui-input-block"> <input class="layui-input input1 locked   " type="text"
          name="asset_countingreport[fbillstatus]" id="asset_countingreport_fbillstatus"
          value=<%= @asset_countingreport.fbillstatus%>></div>
    </div>
    <div class="field">
      <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_countingreport_创建人">创建人</label>
      <div class="layui-input-block"> <input class="layui-input input1   locked" type="text"
          name="asset_countingreport[Creator]" id="asset_countingreport_Creator"
          value=<%= @asset_countingreport.Creator%>></div>
    </div>
    <div class="field">
      <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_countingreport_创建日期">创建日期</label>
      <div class="layui-input-block"> <input class="layui-input input1   locked" type="text"
          name="asset_countingreport[CREATEDATE]" id="asset_countingreport_CREATEDATE"
          value=<%= @asset_countingreport.CREATEDATE%>></div>
    </div>
  </div>
  <div style="display:flex;">
    <div class="field">
      <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_countingreport_审核人">审核人</label>
      <div class="layui-input-block "> <input class="layui-input input1  locked" type="text"
          name="asset_countingreport[Approver]" id="asset_countingreport_Approver"
          value=<%= @asset_countingreport.Approver%>></div>
    </div>
    <div class="field">
      <label class="layui-form-label label1" style="  font-family: '黑体'" for="asset_countingreport_审核日期">审核日期</label>
      <div class="layui-input-block"> <input class="layui-input input1   locked" type="text"
          name="asset_countingreport[APPROVEDATE]" id="asset_countingreport_APPROVEDATE"
          value=<%= @asset_countingreport.APPROVEDATE%>></div>
    </div>
  </div>
  <% end %>
  <!--单据体菜单集合 -->
  <div class="layui-btn-group">
    <button id="add_row" class="layui-btn" onclick="addrow()">新增行</button>
    <button class="layui-btn" onclick="delrow()">删除行</button>
    <button id="btn_choose_assetcard" class="layui-btn" onclick="Choosedata(assetcardModal)" href="#">选择资产卡片</button>
  </div>
  <!--单据体 -->
  <form id="Entry" ,action="/save_multiple">
    <table id="testid" class="layui-table font" style="text-align:center;margin:10px;0px; ">
      <colgroup>
        <col width="150">
        <col>
      </colgroup>
      <thead>
        <tr>
          <!--单据体列头 -->
          <th style="text-align:center;font-size:10px;width: 1%;"><input class='awsui-checkbox '
               id='checkbox_SelectAll' value='' type='checkbox' onclick="selectAll(this,'entry.ids[]')"></th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 5%;">序号</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">资产编码</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">资产名称</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">资产类别</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">计量单位</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">规格型号</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">资产状态</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">账存数量</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">盘点数量</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">差异</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">账存资产位置</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 5%;">账存使用部门</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">账存使用人</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">盘点变动位置(双击修改)</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">盘点变动使用部门(双击修改)</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 5%;">盘点变动使用人(双击修改)</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">盘点日期</th>
          <th style="text-align:center;font-size:10px;font-weight:bold;width: 6%;">备注</th>
        </tr>
      </thead>
      <tbody>
        <% if @asset_countingreport_entry.nil?%>
        <!--判断当前单据为新增状态还是修改状态 -->
        <% @assetcard.each do |assetcard| %>
        <!--当前单据为新增状态 -->
        <%@fseq=@fseq+1%>
        <!--单据体字段集合 -->
        <tr class="trr" id="0" , onclick=>
          <td><input class='awsui-checkbox' id='entry.ids[]' name='entry.ids[]' type='checkbox'></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false"><%=@fseq%></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%=assetcard.assetCode%></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%=assetcard.assetname%></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%=assetcard.Assettype_id%></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%=assetcard.Unit_id%>
          </td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked " contenteditable="false"><%=assetcard.Mould%>
          </td>
          <td style="text-align:center;font-size:10px;" class="tdd1 locked" contenteditable="false">
            <%=assetcard.Assetstatus_id%></td>
          <td style="text-align:center;font-size:10px;" class="tdd1 locked" contenteditable="false">
            <%=assetcard.Amount%>
          </td>
          <td style="text-align:center;font-size:10px;" class="tdd1    " contenteditable="true"
            onblur="SetVariance(this)">0</td>
          <td style="text-align:center;font-size:10px;" class="tdd1 locked" contenteditable="false">
            <%=assetcard.Amount%>
          </td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%=assetcard.Assetseat_id%></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%=assetcard.department_id%></td>
          <td style="text-align:center;font-size:9px;" class="tdd1  locked" contenteditable="false">
            <%=assetcard.Employeeld%></td>
          <td style="text-align:center;font-size:9px;" class="tdd1  " contenteditable="false">
            <%=assetcard.Assetseat_id%></td>
          <td style="text-align:center;font-size:9px;" class="tdd1  " contenteditable="false">
            <%=assetcard.department_id%></td>
          <td style="text-align:center;font-size:9px;" class="tdd1   " contenteditable="false">
            <%=assetcard.Employeeld%></td>
          <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false"></td>
          <td style="text-align:center;font-size:10px;" class="tdd1" contenteditable="false"></td>
        </tr>
        <%end%>
        <%else%>
        <!--当前单据为修改状态 -->
        <% @asset_countingreport_entry.each do |asset_countingreport_entry| %>
        <tr class="trr" id=<%=asset_countingreport_entry.id%>>
          <td><input class='awsui-checkbox' id='entry.ids[]' name='entry.ids[]' type='checkbox' /></td>
          <td style="text-align:center;font-size:9px;" class="tdd1  locked" contenteditable="true">
            <%= asset_countingreport_entry.fseq %> </td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%= asset_countingreport_entry.Code %></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%= asset_countingreport_entry.name %></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%= asset_countingreport_entry.Asset_type %></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%= asset_countingreport_entry.Unit %></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%= asset_countingreport_entry.Model %></td>
          <td style="text-align:center;font-size:9px;" class="tdd1  locked " contenteditable="false">
            <%= asset_countingreport_entry.Asset_status %></td>
          <td style="text-align:center;font-size:8px;" class="tdd1  locked" contenteditable="false">
            <%= asset_countingreport_entry.BookQty %></td>
          <td style="text-align:center;font-size:8px;" class="tdd1   " onblur="SetVariance(this)"
            contenteditable="true">
            <%= asset_countingreport_entry.CountQty %></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%= asset_countingreport_entry.Variance %></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%= asset_countingreport_entry.Book_seat %></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%= asset_countingreport_entry.Book_dept %></td>
          <td style="text-align:center;font-size:9px;" class="tdd1 locked" contenteditable="false">
            <%= asset_countingreport_entry.Book_User %></td>
          <%if  asset_countingreport_entry.Invent_seat ==""%>
          <!--如果资产位置为空则显示“双击选择变动位置”，并添加双击选择位置功能-->
          <td style="text-align:center;color:darkgray;font-size: 8px;" ondblclick="ChooseMotal(this,'资产位置')"
            class="tdd1" contenteditable="false">双击选择变动位置</td>
          <%else%>
          <td style="text-align:center;font-size: 10px;" ondblclick="ChooseMotal(this,'资产位置')" class="tdd1"
            contenteditable="false"><%= asset_countingreport_entry.Invent_seat %> </td>
          <%end%>
          <%if  asset_countingreport_entry.Invent_dept ==""%>
          <!--如果部门为空则显示“双击选择使用部门”，并添加双击选择部门功能-->
          <td style="text-align:center;color:darkgray;font-size: 8px;" ondblclick="ChooseMotal(this,'部门')" class="tdd1"
            contenteditable="false">双击选择使用部门</td>
          <%else%>
          <td style="text-align:center;font-size: 10px;" ondblclick="ChooseMotal(this,'部门')" class="tdd1"
            contenteditable="false"><%= asset_countingreport_entry.Invent_dept %> </td>
          <%end%>
          <%if  asset_countingreport_entry.InventUser ==""%>
          <!--如果使用人为空则显示“双击选择使用人”，并添加双击选择用户功能-->
          <td style="text-align:center;color:darkgray;font-size: 8px;" ondblclick="ChooseMotal(this,'用户')" class="tdd1"
            contenteditable="false">双击选择使用人</td>
          <%else%>
          <td style="text-align:center;font-size: 10px;" ondblclick="ChooseMotal(this,'用户')" class="tdd1"
            contenteditable="false"><%= asset_countingreport_entry.InventUser %> </td>
          <%end%>
          <td style="text-align:center;font-size:8px;" class="tdd1  locked" contenteditable="false">
            <%= asset_countingreport_entry.CountDate %></td>
          <td style="text-align:center;font-size:8px;" class="tdd1  " contenteditable="false">
            <%= asset_countingreport_entry.Headnote %></td>
        </tr>
        <%end%>
        <%end%>
      </tbody>
    </table>
  </form>
  <script src="https://www.layuicdn.com/layui/layui.js"></script>
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%=javascript_pack_tag 'tabadd' %>
  <script type="text/javascript">
    // 更新状态
    function Update_Fbillstatus(id, fbillstatus, usestatus) {
      if (fbillstatus == "审核") {
        // 审核之前先保存
        var result = Save_with_updatestatus();
        if (result.code != 200) {
          //保存失败！提示原因
          alert(result.message);
          return;
        }
      }
      //调用后端接口
      $.ajax({
        type: "post",
        async: false,
        url: "/asset_countingreports_Update_Fbillstatus",
        data: {
          "id": id,
          "fbillstatus": fbillstatus
        },
        success: function (res) {
          alert(res.message);
          if (res.code == 200) {
            //更新完状态跳转
            var path = "/asset_countingreports/" + id + "/edit";
            window.location = path;
          }
        }
      });
    }
    //选择基础资料窗口
    function ChooseMotal(element, type) {
      var list = document.getElementsByClassName("tdd1 update");
      if (list.length > 0) {
        list[0].classList.remove("update")
      }
      $(element)[0].style.color = "#666";
      $(element).css("font-size", "9px")
      $(element).addClass("update");
      var modalid;
      switch (type) {
        case "资产位置":
          modalid = assetseateModal_row;
          break;
        case "部门":
          modalid = departmentModal_row;
          break;
        case "用户":
          modalid = userModal_row;
          break;
        default:
          break;
      }
      //弹出Modal窗口
      Choosedata(modalid);
    }

    function Choosedata(modalid) {
      //审核状态不允许选择基础资料
      if ($("#asset_countingreport_fbillstatus").val() == "已审核") {
        alert("该单据已经审核，不允许操作！")
        return;
      }
      //显示Modal窗口
      $('#' + modalid.id).modal('show');
    }
    //删除单据行
    function delrow() {
      //审核状态不允许删除行
      if ($("#asset_countingreport_fbillstatus").val() == "已审核") {
        alert("该单据已经审核，不允许删除行！")
        return;
      }
      //删除行并更新序号
      var items = document.getElementsByName("entry.ids[]");
      var x = document.getElementById("testid");
      var IsCheckCount = 0;
      for (var i = items.length - 1; i >= 0; i--) {
        if (items[i].checked) {
          IsCheckCount++;
          x = document.getElementById("testid");
          var row = x.rows;
          for (j = i + 2; j < row.length; j++) {
            row[j].cells[1].innerHTML = row[j].cells[1].innerHTML * 1 - 1
          }
          x.deleteRow(i + 1); //删除一行 
        }
      }
      //没有勾选则提醒
      if (IsCheckCount == 0) {
        alert("请选择删除的数据！");
      }
    }
    //新增行
    function addrow() {
      //审核状态不允许新增行
      if ($("#asset_countingreport_fbillstatus").val() == "已审核") {
        alert("该单据已经审核，不允许增加行！")
        return;
      }
      var c = document.getElementById('testid'); //获得表格的信息  
      if (c.length == 1) //如果是向一个空表增加一行
      {
        var x = c.insertRow(1); //向空表插入一行  
        var z = c.rows[0].cells; //如果不是空表，首先获得表格有多少列，先获取再插入新行  
        for (var i = 0; i < z.length; i++) //依次向新行插入表格列数的单元格
        {
          var y = x.insertCell(i);
        }
      } else {
        var z = c.rows[0].cells; //如果不是空表，首先获得表格有多少列，先获取再插入新行 
        var index = c.rows[c.rows.length - 1].cells[1].innerHTML * 1;
        var index = c.rows.length * 1;
        var x = c.insertRow(c.rows.length);
        x.id = 0;
        for (var i = 0; i < z.length; i++) //依次向新行插入表格列数的单元格
        {
          //根据不同单元格设置不同属性
          var y = x.insertCell(i);
          if (i == 0) { //添加复选框
            y.innerHTML = "<input class='awsui-checkbox' id='entry.ids[]' name='entry.ids[]'  type='checkbox'/>";
          } else if (i == 1) { //添加序号
            y.innerHTML = index;
            y.setAttribute("style", "text-align:center;font-size:10px;")
          } else if (i == 14) { //添加选择资产位置功能
            y.innerHTML = "双击选择变动位置";
            y.setAttribute("style", "text-align:center;font-size:10px;color:darkgray;font-size: 8px;")
            y.setAttribute("ondblclick", " ChooseMotal(this,'资产位置')")
          } else if (i == 15) { //添加选择部门功能
            y.innerHTML = "双击选择使用部门";
            y.setAttribute("style", "text-align:center;font-size:10px;color:darkgray;font-size: 8px;")
            y.setAttribute("ondblclick", " ChooseMotal(this,'部门')")
          } else if (i == 16) { //添加选择用户功能
            y.innerHTML = "双击选择使用人";
            y.setAttribute("style", "text-align:center;font-size:10px;color:darkgray;font-size: 8px;")
            y.setAttribute("ondblclick", " ChooseMotal(this,'用户')")
          } else { //设置不允许编辑
            y.setAttribute("contenteditable", "true");
            y.setAttribute("style", "text-align:center;font-size:10px;")
          }
          if (i != 10) { //设置编辑
            y.setAttribute("contenteditable", "false");
          }
          y.setAttribute("class", "tdd1");
        }
      }
    }
    $(document).ready(function () {
      //给日期字段添加日期控件
      layui.use('laydate', function () {
        var laydate = layui.laydate;
        $('.fdate').each(function () {
          laydate.render({
            elem: this
          });
        });
      })
      if ($("#asset_countingreport_fbillstatus").val() == "已审核") {
        //审核状态设置字段锁定性、背景颜色
        $("input").prop('disabled', 'disabled');
        $("input").css('background-color', '#F5F5F5');
        $("td").prop('contenteditable', 'false');
        $("td").css('background-color', '#F5F5F5');
        $("image").prop('disabled', 'disabled');
      }
      $(".locked").prop('disabled', 'disabled');
      $(".locked").css('background-color', '#F5F5F5');
      //单据新增时，反审核、审核隐藏
      if ($("#id").text() == "") {
        $("#a_unaudit").hide();
        $("#a_audit").hide();
        $("#a_Back").hide();
      } else {
        //单据非新增时，反审核、审核显示，锁定单据
        $("#a_audit").show();
        $("#a_Back").show();
        $("#asset_countingreport_BillNo").attr("disabled", "disabled");
        $("#asset_countingreport_BillNo").css('background-color', '#F5F5F5');
      }
    });
    //保存单据
    function Save() {
      //获取字段Value
      var id = document.getElementById("id").innerText; //单据id
      var asset_countingreport_BillNo = document.getElementById("asset_countingreport_BillNo").value; //单据编码
      var asset_countingreport_fdate = document.getElementById("asset_countingreport_fdate").value; //业务日期
      var asset_countingreport_description = document.getElementById("asset_countingreport_description").value; //处置方式 
      var array1 = new Array();
      var array_id = new Array();
      var tb = document.getElementById('testid'); // table 的 id
      var rows = tb.rows; // 获取表格所有行 
      var t = 0;
      for (var i = 1; i < rows.length; i++) {
        array_id[i - 1] = rows[i].id;
        var array2 = new Array();
        for (var j = 2; j < rows[i].cells.length; j++) { // 遍历该行的 td       
          array2[j - 2] = rows[i].cells[j].innerHTML.replace('<br>', '').replace(/(^\s*)|(\s*$)/g, "");
        }
        array2[rows[i].cells.length - 2] = rows[i].id;
        array2[rows[i].cells.length - 1] = rows[i].cells[1].innerHTML.replace('<br>', '').replace(/(^\s*)|(\s*$)/g, "");
        array1[i - 1] = array2;
      }
      //传递数据到后台接口
      $.ajax({
        type: "post",
        async: false,
        url: "/asset_countingreports_save_all",
        data: {
          "type": "保存",
          "array_id": array_id,
          "datas": array1,
          "id": id,
          "FBillno": asset_countingreport_BillNo,
          "fdate": asset_countingreport_fdate,
          "description": asset_countingreport_description
        },
        success: function (res) {
          //保存成功！
          alert(res.message);
          if (res.code == 200) {
            var path = "/asset_countingreports/" + res.id + "/edit"
            window.location = path;
          }
        }
      });
    }
    //审核前保存
    function Save_with_updatestatus() {
      var result = new Array();
      //获取字段Value
      var id = document.getElementById("id").innerText; //单据id
      var asset_countingreport_BillNo = document.getElementById("asset_countingreport_BillNo").value; //单据编码
      var asset_countingreport_fdate = document.getElementById("asset_countingreport_fdate").value; //业务日期
      var asset_countingreport_description = document.getElementById("asset_countingreport_description").value; //处置方式 
      var array1 = new Array();
      var array_id = new Array();
      var tb = document.getElementById('testid'); // table 的 id
      var rows = tb.rows; // 获取表格所有行 
      var t = 0;
      for (var i = 1; i < rows.length; i++) {
        array_id[i - 1] = rows[i].id;
        var array2 = new Array();
        for (var j = 2; j < rows[i].cells.length; j++) { // 遍历该行的 td       
          array2[j - 2] = rows[i].cells[j].innerHTML.replace('<br>', '').replace(/(^\s*)|(\s*$)/g, "");
        }
        array2[rows[i].cells.length - 2] = rows[i].id;
        array2[rows[i].cells.length - 1] = rows[i].cells[1].innerHTML.replace('<br>', '').replace(/(^\s*)|(\s*$)/g, "");
        array1[i - 1] = array2;
      }
      //传递数据到后台接口
      $.ajax({
        type: "post",
        async: false,
        url: "/asset_countingreports_save_all",
        data: {
          "type": "保存",
          "array_id": array_id,
          "datas": array1,
          "id": id,
          "FBillno": asset_countingreport_BillNo,
          "fdate": asset_countingreport_fdate,
          "description": asset_countingreport_description
        },
        success: function (res) {
          result = res;
        }
      });
      //返回保存结果
      return result;
    }

    function selectAll(obj, type) {
      //创建数组
      var arr = new Array();
      //获取所有id为“cb1”的复选框
      var items = document.getElementsByName(type);
      //判断复选框是否选中
      if (obj.checked) {
        //循环将所有name为"category"的复选框设置为选中状态
        for (var i = 0; i < items.length; i++) {
          //alert(items[i]);
          items[i].checked = true;
        }
      } else {
        //循环将所有name为"category"的复选框设置为非选中状态
        for (var i = 0; i < items.length; i++) {
          //alert(items[i]);
          items[i].checked = false;
        }
      }
    }
    //单元格点击事件
    $('td').click(function (e) {
      if (e.currentTarget.className != "") {
        //判断是非复选框的单元格
        if (e.currentTarget.parentNode.firstElementChild.children[0].checked) {
          //如果复选框已经勾上，则取消勾选
          e.currentTarget.parentNode.firstElementChild.children[0].checked = false;
        } else {
          //如果复选框已经取消勾选，则勾选
          e.currentTarget.parentNode.firstElementChild.children[0].checked = true;
        }
      }
    })
    //计算盘点差异
    function SetVariance(element) {
      //判断输入单元格值是否为数值
      var result = CheckIsNumber(element)
      if (result == "true") {
        //如果是，则差异等于盘点数量-账存数量
        element.parentNode.cells[10].innerHTML = Number(element.parentNode.cells[8].innerHTML) - Number(element
          .innerHTML
          .replace('<br>', ''))
      } else {
        //如果不是，则提示错误信息
        alert("请输入正确的数字");
      }
      //  element.parentNode.cells[10].innerHTML=Number()
    }
    //判断是否为数值类型
    function CheckIsNumber(element) {
      var result = "true";
      var reg = /^[0-9]+.?[0-9]*$/;
      if (!reg.test(element.innerHTML.replace('<br>', ''))) {
        result = "false"
      }
      arr = element.innerHTML.split(" ");
      if (arr.length != 1) {
        result = "false"
      }
      return result;
    }
  </script>
  <!-- 添加局部视图 -->
  <%= render    'departments/DepartmentModal_row.html.erb',  id: "asset_picking_Picking_Dept" ,userid: "16"%>
  <%= render    'users/UserModal_row.html.erb',  id: "asset_picking_Picking_Employeeld"  ,department: "15" ,departmentvalue: "双击选择使用部门"%>
  <%= render    'assetcards/AssetcardsModal.html.erb' ,fbillnotype: "资产盘点单" %>
  
  
  <%= render    'assetseates/AssetseateModal_row.html.erb',  id: "assetcard_Assetseat_id"  %>
</body>